---
layout: template
css: blogs_cover
body_class: iasd-blogs
---		
		<div class="container">
			<section class="row">
				<article class="col-md-8 entry-content">
					<div class="row">
						<div class="iasd-widget iasd-widget-slider highlights col-sm-12">
							{% include widgets/slider_blogs.html title="Destaques" img1="http://placehold.it/720x301/eee9e3/3a3a3a/&text=720x301" img2="http://placehold.it/720x301/eee9e3/3a3a3a/&text=720x301" %}
						</div>
					</div>
					<div class="row iasd-blogs-last-posts">
						<div class="col-xs-12">
							<h1 class="iasd-main-title">Últimos Posts</h1>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Nome do autor do post</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Bíblia</a>,</li>
												<li><a href="#" title="Tag">Evangelismo</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Vanessa de Oliveira</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Comportamento</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">27 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Nome do autor do post</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Bíblia</a>,</li>
												<li><a href="#" title="Tag">Evangelismo</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Vanessa de Oliveira</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Comportamento</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">27 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Nome do autor do post</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Bíblia</a>,</li>
												<li><a href="#" title="Tag">Evangelismo</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Vanessa de Oliveira</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Comportamento</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">27 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Nome do autor do post</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Bíblia</a>,</li>
												<li><a href="#" title="Tag">Evangelismo</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Vanessa de Oliveira</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Comportamento</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">27 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">In a lobortis libero. Praesent nec sem consequat, rutrum ipsum nec, sodales enim.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Nome do autor do post</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Bíblia</a>,</li>
												<li><a href="#" title="Tag">Evangelismo</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Duis volutpat, dui sit amet auctor porta, mauris quam fringilla nisl, eget varius nibh nibh et est. Maecenas vel consequat diam. In imperdiet hendrerit leo, a adipiscing augue placerat a.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Vanessa de Oliveira</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Comportamento</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">27 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Nome do autor do post</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Bíblia</a>,</li>
												<li><a href="#" title="Tag">Evangelismo</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-2">
									<figure class="img-circle">
										<img src="http://placehold.it/80x80/" alt="Título da Imagem">
										<div class="img-gradient"></div>
									</figure>
								</div>
								<div class="col-sm-10 col-md-9">
									<h1><a href="#" title="Título do Post">Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</a></h1>
									<p><i><a href="#" title="Nome do Autor">Vanessa de Oliveira</a></i></p>
									<ul>
										<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
										<li class="icon_tag">
											<ul>
												<li><a href="#" title="Tag">Comportamento</a></li>
											</ul>
										</li>
										<li class="icon_comments"><a href="#" title="Comentários">27 Comentários</a></li>
									</ul>
								</div>
							</div>
							<a href="#" class="btn btn-default btn-block mar-top-30 load-more_posts-link" title="Mostrar mais">Mostrar mais</a>
						</div>
					</div>
				</article>
				<aside class="col-md-4 mar-top-0-xs iasd-aside">
					<div class="iasd-widget iasd-widget-posts_box">
						{% include widgets/posts_list_columnists.html %}
					</div>
					<h1 class="iasd-main-title">Categorias</h1>
					<nav class="main iasd-tags">
						<a href="#" title="Taxonomia">Bílbia<span class="badge">184</span></a>
						<a href="#" title="Taxonomia">Ciência<span class="badge">36</span></a>
						<a href="#" title="Taxonomia">Comportamento<span class="badge">71</span></a>
						<a href="#" title="Taxonomia">Comunicação<span class="badge">192</span></a>
						<a href="#" title="Taxonomia">Datas Especiais<span class="badge">95</span></a>
						<a href="#" title="Taxonomia">Educação<span class="badge">20</span></a>
						<a href="#" title="Taxonomia">Estilo de Vida<span class="badge">28</span></a>
						<a href="#" title="Taxonomia">Evangelhismo<span class="badge">243</span></a>
						<a href="#" title="Taxonomia">Bílbia<span class="badge">184</span></a>
						<a href="#" title="Taxonomia">Ciência<span class="badge">36</span></a>
						<a href="#" title="Taxonomia">Comportamento<span class="badge">71</span></a>
						<a href="#" title="Taxonomia">Comunicação<span class="badge">192</span></a>
						<a href="#" title="Taxonomia">Datas Especiais<span class="badge">95</span></a>
						<a href="#" title="Taxonomia">Educação<span class="badge">20</span></a>
						<a href="#" title="Taxonomia">Estilo de Vida<span class="badge">28</span></a>
						<a href="#" title="Taxonomia">Evangelhismo<span class="badge">243</span></a>
					</nav>
					<div class="iasd-widget iasd-widget-posts_box">
						{% include widgets/posts_list_columnists.html %}
					</div>
				</aside>
				<aside class="col-sm-4 mar-top-50-xs iasd-aside hidden-sm hidden-xs">
					<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded mar-bot-30" />
					<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded mar-bot-30" />
				</aside>
			</section>
		</div>
