<!DOCTYPE html>
<html lang="pt">
	<head>
		{% include head_template.html %}
	</head>
	<body id="{{ page.body_id }}" class="{{ page.body_class }} iasd-apps-portal iasd-apps-home">
		{% include ie_alert.html %}
		{% include global_nav.html %}
			{% include header_apps_cover.html %}
		{{ content }}

		{% if page.return_page %}{% include return_page_plugin.html %}{% endif %}
		{% include footer_template.html %}
		{% include scripts.html %}
	</body>
</html>