<!DOCTYPE html>
<html lang="pt">
	<head>
		{% include head_template.html %}
	</head>
	<body id="{{ page.body_id }}" class="{{ page.body_class }} iasd-apps-portal">
		{% include ie_alert.html %}
		{% include global_nav.html %}
		{% if page.css == 'division' %}
			{% include header_dsa.html %}
		{% elsif page.css == 'blogs_internal' %}
			{% include header_blogs.html %}
		{% elsif page.css == 'apps' %}
			{% include header_apps.html %}
		{% else %}
			{% include header_template.html %}
		{% endif %}
		
		{{ content }}

		{% if page.return_page %}{% include return_page_plugin.html %}{% endif %}
		{% include footer_template.html %}
		{% include scripts.html %}
	</body>
</html>