<div class="iasd-main_navbar container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<span class="navbar-brand visible-xs">Menu</span>
		</div>
		<div class="collapse navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#" title="Últimos Posts">Últimos Posts</a>
				</li>
				<li>
					<a href="#" title="Blogueiros">Blogueiros</a>
				</li>						
				<li>
					<a href="#" title="Blogs de Departamentos">Blogs de Departamentos</a>
				</li>						
				<li>
					<a href="#" title="IContato">Contato</a>
				</li>
				<li class="language has-children">
					<a href="#" title="Português">PT</a>
					<ul>
						<li>
							<a href="#" title="Versión en español">Versión en español</a>
						</li>
					</ul>
				</li>						
			</ul>
		</div>
	</nav>
</div>