<div class="touch-alert visible-xs">
	<div class="message">
		<span class="styleguide-font-awesome-icon">&#xf071;</span>
		<p>Desculpe-nos, este site não foi otimizado para dispositivos móveis.</p>
	</div>
</div>

{% include scripts.html %}

<!-- TODO usar apenas na página de compononentes -->

<script>
$(document).ready(function() {
  $("#image-gallery").owlCarousel({
    autoPlay: 3000,
    items : 1,
    pagination : false,
    itemsScaleUp : true
  });
});
</script> 

<!-- Google Analytics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43945428-4', 'auto');
  ga('send', 'pageview');
</script>
