<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="version" content="{{ site.current_version }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="/static/css/styles.css" rel="stylesheet" media="screen">
<link href="/static/css/styleguide.css" rel="stylesheet" media="screen">
<!--[if lt IE 9]>
	<script src="/static/lib/ltie9.min.js"></script>
<![endif]-->