<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 identifier">
				<div class="brand">
					<a href="#" title="Clique aqui para retornar à página inicial">Igreja Adventista do Sétimo Dia</a>
				</div>
				<div class="title">
					<hgroup>
						<h1>Blogs<span class="hidden-xs"> Adventistas</span></h1>
					</hgroup>
				</div>
			</div>
			<div class="col-xs-4">
				<a class="btn btn-default">Ver a listagem<span class="hidden-xs"> de blogs</span></a>
			</div>
		</div>
	</div>
</header>

<!-- *************************** -->
<!-- ********* Content ********* -->
<!-- *************************** -->
<div class="blogs-internal-header">
	<div>
		<section class="container">
			<article>
				<h1>Nome do Blog</h1>
				<p>Subtítulo do blog proin gravida nibh vel velit auctor aliquet aenean sollicitudin</p>
			</article>
		</section>
	</div>
</div>