---
layout: template
css: association_v1
---
		<div class="container">
			<div class="row">
				<div class="iasd-widget iasd-widget-slider col-md-12">
					{% include widgets/slider_headquarters.html title="Destaques" img1="/samples/templates/departments_home_association_v1/img/slider_01.jpg" img2="/samples/templates/departments_home_association_v1/img/slider_02.jpg" %}
				</div>
			</div>

			<div class="row">
				<div class="iasd-widget iasd-widget-posts_grid col-md-8">
					{% include widgets/posts_grid.html title="Últimas Notícias" img1="/samples/templates/departments_home_association_v2/img/ultimas_01.jpg" img2="/samples/templates/departments_home_association_v2/img/ultimas_02.jpg" img3="/samples/templates/departments_home_association_v2/img/ultimas_03.jpg" img4="/samples/templates/departments_home_association_v2/img/ultimas_04.jpg" img5="/samples/templates/departments_home_association_v2/img/ultimas_05.jpg" img6="/samples/templates/departments_home_association_v2/img/ultimas_06.jpg" %}
				</div>
				<div class="iasd-widget iasd-widget-posts_list col-md-4">
					{% include widgets/posts_list_youtube_highlight.html title="Últimos vídeos" img1="http://img.youtube.com/vi/UPGzKOIJ3Jw/0.jpg" img2="http://img.youtube.com/vi/QqAJQtTaLpE/0.jpg" img3="http://img.youtube.com/vi/GLG21dP9nlw/0.jpg" img4="http://img.youtube.com/vi/h8f9biAjIRQ/0.jpg" img5="http://img.youtube.com/vi/UPGzKOIJ3Jw/0.jpg" %}
				</div>
			</div>
			<div class="row">
				<div class="iasd-widget iasd-widget-sunset iasd-widget-config col-md-4">
					{% include widgets/slider_sunset.html %}
				</div>			
				<div class="iasd-widget iasd-widget-slider col-md-8">
					{% include widgets/slider_services_large.html %}
				</div>				
			</div>			
			<div class="row">
				<div class="iasd-widget iasd-widget-posts_categories iasd-widget-config col-md-4">
					{% include widgets/posts_list_thumbs_categories.html  title="Artigos" img1="/samples/templates/departments_home_association_v2/img/artigos_01.jpg" img2="/samples/templates/departments_home_association_v2/img/artigos_02.jpg" img3="/samples/templates/departments_home_association_v2/img/artigos_03.jpg" %}
				</div>
				<div class="iasd-widget iasd-widget-posts_box col-md-4">
					{% include widgets/posts_box_ordered_thumbs.html title="Downloads" img1="/samples/templates/departments_home_association_v2/img/materiais_01.jpg" img2="/samples/templates/departments_home_association_v2/img/materiais_02.jpg" img3="/samples/templates/departments_home_association_v2/img/materiais_03.jpg" img4="/samples/templates/departments_home_association_v2/img/materiais_04.jpg" img5="/samples/templates/departments_home_association_v2/img/materiais_05.jpg" %}
				</div>
				<div class="iasd-widget iasd-widget-posts_box col-md-4">
					{% include widgets/posts_box_events.html title="Eventos AP" item1="10/01" item2="23/01" item3="04/02" item4="05/02" item5="16/02" %}
				</div>
			</div>
			<div class="row">
				<div class="iasd-widget iasd-widget-posts_list col-md-4">
					{% include widgets/gallery_list.html title="Galerias de imagens" img1="/samples/templates/departments_home_association_v2/img/galeria_01.jpg" img2="/samples/templates/departments_home_association_v2/img/galeria_02.jpg" img3="/samples/templates/departments_home_association_v2/img/galeria_03.jpg" img4="/samples/templates/departments_home_association_v2/img/galeria_04.jpg" img5="/samples/templates/departments_home_association_v2/img/galeria_05.jpg" img6="/samples/templates/departments_home_association_v2/img/galeria_06.jpg" %}
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="iasd-widget iasd-widget-social_media facebook col-md-6">
							{% include widgets/custom_social_media_facebook.html %}
						</div>
						<div class="iasd-widget iasd-widget-social_media twitter col-md-6">
							{% include widgets/custom_social_media_twitter.html %}
						</div>			
					</div>
					<div class="row">
						<div class="iasd-widget iasd-widget-find_church col-md-6">
							{% include widgets/custom_find_church.html %}
						</div>
						<div class="col-md-6">
							<img src="http://dummyimage.com/294x300/cccccc/ffffff&text=Banner+Livre" height="300px" width="294px" style="max-width: 100%;" />
						</div>
					</div>
				</div>



		
			</div>

		</div> <!-- /container -->