<h1>{% if include.title %}{{ include.title }}{% else %}Sobre o Autor{% endif %}</h1>
<figure class="img-circle">
	<img src="http://placehold.it/95x95/eee9e3/3a3a3a/&amp;text=Avatar" height="95px" width="95px" alt="Título da Imagem">
	<div class="img-gradient"></div>
</figure>
<div class="contact-info-title">
	<div class="table-cell">
		<h3>João Antunes Souza</h3>
	</div>
</div>
<div class="float-right">
	<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
	<ul class="social-media">
		<li><a target="_blank" title="Acesse a fanpage no Facebook" class="facebook" href="http://www.facebook.com/IgrejaAdventistadoSetimoDia"></a></li>
		<li><a target="_blank" title="Acesse o perfil no Twitter" class="twitter" href="http://www.twitter.com/iasd"></a></li>
		<li><a target="_blank" title="Acesse o perfil no Google+" class="google" href="https://plus.google.com/100209406986918435039/about"></a></li>
		<li><a target="_blank" title="Envie um e-mail para o autor" class="mail" href="mailto:autor@adventistas.org"></a></li>
		<li><a target="_blank" title="Acesse o website pessoal do autor" class="link-author" href="http://www.author-website.com.br"></a></li>
	</ul>
</div>