<h1>{% if include.title %}{{ include.title }}{% else %}Busca{% endif %}</h1>
<form>
	<input type="text" class="form-control" placeholder="Insira as palavras-chave aqui">
	<button class="btn btn-default" type="button">Buscar</button>
</form>