<h1>{% if include.title %}{{ include.title }}{% else %}Título do Widget{% endif %}</h1>
<ul>
	{% for i in include %}
	{% if i[0] != 'title' %}
	<li>
		<a href="#" title="Título do evento por completo - De <data-inicial> a <data-final>">
			<time>
				<span class="date">{% if i[1] != "" %}{{ i[1] }}{% else %}22/09{% endif %}</span>
				<span class="hour">22h - 23h</span>
			</time>
			<div class="info">
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
				<address>Proin hendrerit orci euismod nisi gravida, id condimentum elit sollicitudin. Donec lectus elit, facilisis id velit in, ornare venenatis purus.</address>
			</div>
		</a>
	</li>
	{% endif %}
	{% endfor %}
	<li>
		<a href="#" title="Clique para ver todos os eventos" class="more-link">Mais eventos &raquo;</a>
	</li>	
</ul>
<div class="config">
	<a href="#" title="Clique para escolher as informações que sua região" class="toggle-config-link">Escolher</a>
	<div class="well">
		<form role="form">
			<div class="form-group">
				<label for="selectRegion">Escolher campo:</label>
				<div class="custom-select">
					<select id="selectRegion">
						<optgroup label="Regiões disponíveis">
							<option selected>Todos</option>
							<option>Opção de região 01</option>
							<option>Opção de região 02</option>
							<option>Opção de região 03</option>
							<option>Opção de região 04</option>
							<option>Opção de região 05</option>
							<option>Opção de região 06</option>
							<option>Opção de região 07</option>
							<option>Opção de região 08</option>
							<option>Opção de região 09</option>
						</optgroup>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-default">Mostrar notícias</button>
		</form>
	</div>
</div>