<h1>{% if include.title %}{{ include.title }}{% else %}Título do Widget{% endif %}</h1>
<div class="owl-carousel posts header">
	{% for i in include %}
	{% if i[0] != 'title' %}
	<div class="slider-item">
		<a href="#" title="Clique para conhecer o projeto">
			<figure>
				<img data-src="{% if i[1] != "" %}{{ i[1] }}{% else %}/static/img/widgets/slider_full.png{% endif %}" alt="Título da imagem" class="lazyOwl">
				<figcaption>
					<figure class="img-circle">
						<img src="http://placehold.it/65x65/" alt="Título da Imagem">
						<div class="img-gradient"></div>		
					</figure>
					<h2>Lorem ipsum dolor sit amet</h2>
					<p><i>Nome do autor do post</i></p>
					<ul>
						<li class="icon_clock">23 de fevereiro de 2014</li>
						<li class="icon_tag">Comportamento</li>
						<li class="icon_comments">26 comentários</li>
					</ul>
				</figcaption>
			</figure>
		</a>
	</div>
	{% endif %}
	{% endfor %}
</div>