<h1>{% if include.title %}{{ include.title }}{% else %}Thumbnail{% endif %}</h1>
<div class="iasd-widget-thumbnail">
	<a href="javascript:void(0)" title="Título da imagem">
		<figure>
			<img src="{% if include.img1 %}{{ include.img1 }}{% else %}/static/img/widgets/no_image_940x415.png{% endif %}" class="img-responsive" />
		</figure>
	</a>
</div>