---
layout: template_apps
return_page: true
css: apps
---
		<div class="single-app-header">
			<div class="container">
				<div class="row single-app-header-inner">
					<div class="col-md-6 col-sm-8">
						<div class="row">
							<figure class="col-md-4 col-xs-6">
								<img src="http://placehold.it/180x180" class="img-responsive" />
							</figure>
							<div class="col-md-8 col-xs-6">
								<h1>Heroes the Game</h1>
								<span class="developer">Movinpixel Ltd. ></span>
								<small>Jogos</small>
								<div class="app-stores">
									<ul>
										<li><a href="#ios" class="ios"></a></li>
										<li><a href="#android" class="android"></a></li>
										<li><a href="#windows" class="windows"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<section class="row">
				<header class="col-md-12 screen-shots-carousel">
					<h1>Capturas de telas</h1>
					<div class="owl-carousel iasd-app-screen-shots">
					<div class="slider-item">
						<img src="http://placehold.it/212x375" />
					</div>
					<div class="slider-item">
						<img src="http://placehold.it/212x375" />
					</div>
					<div class="slider-item">
						<img src="http://placehold.it/212x375" />
					</div>
					<div class="slider-item">
						<img src="http://placehold.it/212x375" />
					</div>
					<div class="slider-item">
						<img src="http://placehold.it/212x375" />
					</div>
					<div class="slider-item">
						<img src="http://placehold.it/212x375" />
					</div>
				</div>
				</header>
				<aside class="col-md-4 visible-md visible-lg iasd-aside">
					<ul class="app-qr-codes well">
						<li>
							<img src="http://placehold.it/95x95" />
							<a id="ios" class="download-app-button" href="javascript:void(0)">Baixe na App Store</a>
						</li>
						<li>
							<img src="http://placehold.it/95x95" />
							<a id="android" class="download-app-button" href="javascript:void(0)">Baixe na App Store</a>
						</li>
						<li>
							<img src="http://placehold.it/95x95" />
							<a id="windows" class="download-app-button" href="javascript:void(0)">Baixe na App Store</a>
						</li>
					</ul>
				</aside>
				<article class="col-md-8 entry-content single-app-content">
					<h1 class="app-description">Descrição</h1>
					<div class="sharing-links">
						<ul class="social-media">
							<li class="facebook"><div id="fb-root"></div><script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=261838613827121"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-like" data-href="https://www.facebook.com/nexettbr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
							<li class="google"><script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'pt-BR'}</script><g:plusone size="medium"></g:plusone></li>
							<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
						</ul>
						<ul class="functions">
							<li><a href="javascript:window.print();" class="print" title="Imprimir página">Imprimir página</a></li>
							<li><a href="mailto:?subject=Leia este artigo do Portal Adventista&body=Título do post - http://endereco.com.br" class="mail" title="Enviar por e-mail">Enviar por e-mail</a></li>
						</ul>
					</div>
					<h1>iPhone Seja bem-vindo! Este é o modelo padrão para posts do novo Portal Adventista</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis massa nec magna commodo facilisis. Quisque at blandit libero. Morbi ultricies non enim vel elementum. Morbi id ultrices libero. Suspendisse et elit et tortor sollicitudin molestie mollis eu libero. Fusce sagittis magna sit amet consequat bibendum. Cras viverra luctus magna a facilisis. Curabitur eu nunc est.</p>
					<h2>Modelo de cabeçalhos</h2>
					<p>Proin pulvinar neque id luctus adipiscing. Etiam mollis vulputate ante, at consequat neque imperdiet et. Integer iaculis ac erat et commodo. Curabitur in odio turpis. Donec hendrerit urna et nisl imperdiet, sed dapibus lorem eleifend. Curabitur iaculis sed libero et auctor. Quisque lacus risus, placerat a vehicula in, volutpat vitae risus. Donec quis suscipit sapien, a malesuada arcu. Suspendisse dolor felis, suscipit pellentesque lectus at, scelerisque sagittis ligula. Proin dictum metus id pellentesque condimentum.</p>
					<h1>Nível 1: Lorem ipsum dolor sit amet</h1>
					<h2>Nível 2: consectetur adipiscing elit</h2>
					<h3>Nível 3: Phasellus laoreet dui</h3>
					<h4>Nível 4: Eu interdum eleifend</h4>
					<h5>Nível 5: Velit pulvinar ligula</h5>
					<h6>Nível 6: Velit ligula ac sapien</h6>
					<hr />
					<h2>Modelo de corpo de texto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis massa nec magna commodo facilisis. Quisque at blandit libero. Morbi ultricies non enim vel elementum. Morbi id ultrices libero. Suspendisse et elit et tortor sollicitudin molestie mollis eu libero. Fusce sagittis magna sit amet consequat bibendum. Cras viverra luctus magna a facilisis. Curabitur eu nunc est.</p>
					<div class="wp-caption alignleft"><img class="size-full" alt="#" src="http://placehold.it/260x190" width="260" height="190"><p class="wp-caption-text">Legenda de foto alinhada à esquerda</p></div>
					<p>Integer et hendrerit orci. Nunc tempus nunc nisl, vitae commodo nisi tristique at. Fusce elementum, magna ac lacinia ornare, felis mi ultricies odio, quis cursus mi mi eu neque. Vivamus nec ipsum vitae est tempus rhoncus. Etiam adipiscing tellus ipsum, ut mattis ipsum luctus vel. Nulla sit amet vulputate enim. Nulla facilisi. Maecenas vel risus urna. Maecenas fringilla dictum aliquam. Donec eu orci tellus. Cras id dapibus augue, a porta nisi. Ut eleifend sed nisl quis commodo. Suspendisse potenti. Vestibulum vestibulum, felis dignissim interdum eleifend, quam sem elementum magna, in lobortis sem urna suscipit libero. Quisque tincidunt at lacus nec feugiat.</p>
					<p>Duis sem purus, tempus vitae dolor vitae, gravida interdum lorem. Nullam rhoncus at massa id porta. Sed ut ultricies justo. Etiam facilisis velit semper lorem iaculis ultrices. Aliquam iaculis, justo vel dapibus viverra, ligula dolor sodales urna, sed consectetur lectus nunc non augue. Aenean tristique, lacus vel rhoncus dictum, magna sapien convallis odio, nec cursus nibh risus vulputate odio. Integer cursus, justo in fermentum sodales, est orci congue neque, nec suscipit justo nibh non orci. Nunc sed consequat erat. Morbi pretium condimentum quam, sit amet adipiscing sapien pellentesque sed. Vivamus laoreet eros in leo congue vehicula. Cras euismod quam sit amet neque ultricies pretium. Phasellus porttitor ultricies elit a dignissim. Donec venenatis tellus purus, at sodales felis adipiscing sed. In hac habitasse platea dictumst.</p>
					<p>Fusce molestie nunc eu vehicula condimentum. Cras eu sem nec dolor pretium volutpat. <a href="#" title="Modelo de link interdum et malesuada fames ac ante ipsum primis in faucibus">Modelo de link interdum et malesuada fames ac ante ipsum primis in faucibus</a>. Sed vel tellus metus. Sed ullamcorper sagittis sagittis. Sed dolor diam, fringilla at varius auctor, lacinia eget augue. Proin iaculis eleifend nulla, non ultricies dui adipiscing vitae. Sed cursus fringilla lacus. In ultrices non risus vel semper. Mauris quis magna odio.</p>
					<h3>Modelo de citação</h3>
					<p>Integer et hendrerit orci. Nunc tempus nunc nisl, vitae commodo nisi tristique at. Fusce elementum, magna ac lacinia ornare, felis mi ultricies odio, quis cursus mi mi eu neque. Vivamus nec ipsum vitae est tempus rhoncus. Etiam adipiscing tellus ipsum, ut mattis ipsum luctus vel. Nulla sit amet vulputate enim. Nulla facilisi. Maecenas vel risus urna. Maecenas fringilla dictum aliquam. Donec eu orci tellus. Cras id dapibus augue, a porta nisi. Ut eleifend sed nisl quis commodo. Suspendisse potenti. Vestibulum vestibulum, felis dignissim interdum eleifend, quam sem elementum magna, in lobortis sem urna suscipit libero. Quisque tincidunt at lacus nec feugiat.</p>
					<blockquote cite="http://#">Suspendisse eu pellentesque odio. Sed eros urna, cursus sit amet quam vitae, pharetra congue arcu. In cursus neque gravida, euismod risus vitae, cursus nunc. Phasellus auctor augue in sem lacinia, dapibus elementum lorem convallis. Ut vestibulum egestas fermentum. Pellentesque eu mauris sagittis, mollis massa eu, convallis mi. In dignissim porttitor eros at tristique.</blockquote>
					<p>Fusce quis tincidunt sapien. Quisque sed leo elit. Pellentesque bibendum accumsan enim. Vestibulum enim nisl, auctor vel posuere ut, lobortis eu lacus. Aliquam vel volutpat diam, ornare sollicitudin neque. Quisque pulvinar porta enim eget laoreet. Duis sed mollis sem, facilisis auctor mauris.</p>
					<p>Maecenas fermentum porta libero, pretium pharetra orci tempor eget. Sed pretium, lacus quis convallis condimentum, felis mi interdum magna, aliquet rhoncus lacus libero feugiat quam. Integer vulputate diam at fringilla bibendum. <strong>Vestibulum vitae neque ut augue tempor tempor sed vitae erat. Quisque eros leo, vehicula et molestie eget, luctus eu odio. Donec elementum rutrum consequat. Aenean ornare rhoncus nisi, sit amet egestas dolor fermentum nec. Aenean congue cursus nisl at imperdiet.</strong> Morbi convallis fermentum ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin non faucibus lacus. Praesent molestie facilisis dolor at convallis. Aliquam id mauris eros. Cras sit amet mattis sapien. Quisque consectetur arcu augue, nec convallis nibh rutrum quis.</p>
					<p class="versicle"><sup>1</sup>No princípio criou Deus o céu e a terra. <sup>2</sup>E a terra era sem forma e vazia; e havia trevas sobre a face do abismo; e o Espírito de Deus se movia sobre a face das águas. <sup>3</sup>E disse Deus: Haja luz; e houve luz.<strong>Gênesis 1:1-3</strong></p>
					<p>Duis sem purus, tempus vitae dolor vitae, gravida interdum lorem. Nullam rhoncus at massa id porta. Sed ut ultricies justo. Etiam facilisis velit semper lorem iaculis ultrices. Aliquam iaculis, justo vel dapibus viverra, ligula dolor sodales urna, sed consectetur lectus nunc non augue. Aenean tristique, lacus vel rhoncus dictum, magna sapien convallis odio, nec cursus nibh risus vulputate odio. Integer cursus, justo in fermentum sodales, est orci congue neque, nec suscipit justo nibh non orci. Nunc sed consequat erat. Morbi pretium condimentum quam, sit amet adipiscing sapien pellentesque sed. Vivamus laoreet eros in leo congue vehicula. Cras euismod quam sit amet neque ultricies pretium. Phasellus porttitor ultricies elit a dignissim. Donec venenatis tellus purus, at sodales felis adipiscing sed. In hac habitasse platea dictumst.</p>
					<h2>Modelo de listas</h2>
					<p>Proin pulvinar neque id luctus adipiscing. Etiam mollis vulputate ante, at consequat neque imperdiet et. Integer iaculis ac erat et commodo. Curabitur in odio turpis. Donec hendrerit urna et nisl imperdiet, sed dapibus lorem eleifend. <del>Curabitur iaculis sed libero et auctor. Quisque lacus risus, placerat a vehicula in, volutpat vitae risus. Donec quis suscipit sapien, a malesuada arcu. Suspendisse dolor felis, suscipit pellentesque lectus at, scelerisque sagittis ligula. Proin dictum metus id pellentesque condimentum.</del></p>
					<ul>
						<li>Lorem ipsum dolor sit amet;</li>
						<li>Phasellus laoreet dui:
							<ul>
								<li>Lorem ipsum dolor sit amet;</li>
								<li>Consectetur adipiscing elit;</li>
								<li>Eu interdum eleifend;</li>
								<li>Velit pulvinar ligula;</li>
								<li>Velit ligula ac sapien.</li>
							</ul>
						</li>
						<li>Phasellus laoreet dui;</li>
						<li>Eu interdum eleifend;</li>
						<li>Velit pulvinar ligula;</li>
						<li>Velit ligula ac sapien.</li>
					</ul>
					<p>Proin pulvinar neque id luctus adipiscing. Etiam mollis vulputate ante, at consequat neque imperdiet et. Integer iaculis ac erat et commodo. Curabitur in odio turpis. Donec hendrerit urna et nisl imperdiet, sed dapibus lorem eleifend. Curabitur iaculis sed libero et auctor. Quisque lacus risus, placerat a vehicula in, volutpat vitae risus. Donec quis suscipit sapien, a malesuada arcu. Suspendisse dolor felis, suscipit pellentesque lectus at, scelerisque sagittis ligula. Proin dictum metus id pellentesque condimentum.</p>
					<p>Fusce molestie nunc eu vehicula condimentum. Cras eu sem nec dolor pretium volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vel tellus metus. Sed ullamcorper sagittis sagittis. Sed dolor diam, fringilla at varius auctor, lacinia eget augue. Proin iaculis eleifend nulla, non ultricies dui adipiscing vitae. Sed cursus fringilla lacus. In ultrices non risus vel semper. Mauris quis magna odio.</p>
					<ol>
						<li>Lorem ipsum dolor sit amet;</li>
						<li>consectetur adipiscing elit;</li>
						<li>Phasellus laoreet dui
							<ol>
								<li>Lorem ipsum dolor sit amet;</li>
								<li>Consectetur adipiscing elit;</li>
								<li>Eu interdum eleifend;</li>
								<li>Velit pulvinar ligula;</li>
								<li>Velit ligula ac sapien.</li>
							</ol>
						</li>
						<li>Eu interdum eleifend;</li>
						<li>Velit pulvinar ligula;</li>
						<li>Velit ligula ac sapien.</li>
					</ol>
					<p>Duis sem purus, tempus vitae dolor vitae, gravida interdum lorem. Nullam rhoncus at massa id porta. Sed ut ultricies justo. Etiam facilisis velit semper lorem iaculis ultrices. Aliquam iaculis, justo vel dapibus viverra, ligula dolor sodales urna, sed consectetur lectus nunc non augue. Aenean tristique, lacus vel rhoncus dictum, magna sapien convallis odio, nec cursus nibh risus vulputate odio. Integer cursus, justo in fermentum sodales, est orci congue neque, nec suscipit justo nibh non orci. Nunc sed consequat erat. Morbi pretium condimentum quam, sit amet adipiscing sapien pellentesque sed. Vivamus laoreet eros in leo congue vehicula. Cras euismod quam sit amet neque ultricies pretium. Phasellus porttitor ultricies elit a dignissim. Donec venenatis tellus purus, at sodales felis adipiscing sed. In hac habitasse platea dictumst.</p>
					<p>Maecenas fermentum porta libero, pretium pharetra orci tempor eget. Sed pretium, lacus quis convallis condimentum, felis mi interdum magna, aliquet rhoncus lacus libero feugiat quam. Integer vulputate diam at fringilla bibendum. Vestibulum vitae neque ut augue tempor tempor sed vitae erat. Quisque eros leo, vehicula et molestie eget, luctus eu odio. Donec elementum rutrum consequat. Aenean ornare rhoncus nisi, sit amet egestas dolor fermentum nec. Aenean congue cursus nisl at imperdiet. Morbi convallis fermentum ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin non faucibus lacus. Praesent molestie facilisis dolor at convallis. Aliquam id mauris eros. Cras sit amet mattis sapien. Quisque consectetur arcu augue, nec convallis nibh rutrum quis.</p>
					<div class="row related-apps">
						<div class="col-md-12">
							<h1>Aplicativos relacionados</h1>
						</div>
						<div class="col-md-3 col-sm-3 xs-landscape col-xs-6">
							{% include widgets/app_card.html %}
						</div>
						<div class="col-md-3 col-sm-3 xs-landscape col-xs-6">
							{% include widgets/app_card.html %}
						</div>
						<div class="col-md-3 col-sm-3 xs-landscape col-xs-6">
							{% include widgets/app_card.html %}
						</div>
						<div class="col-md-3 col-sm-3 xs-landscape hidden-xs-landscape col-xs-6">
							{% include widgets/app_card.html %}
						</div>
					</div>
				</article>
			</section>
		</div>
