---
layout: template
return_page: true
css: asn
---		
		<div class="container">
			<header id="iasd-column-header">
				<figure class="img-circle active">
					<img src="http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar" height="124px" width="124px" alt="Título da Imagem">
					<div class="img-gradient"></div>		
				</figure>
				<div class="column-title">
					<h2>Rafael Rossi</h2>
					<h1>Em Dia Com o Nosso Tempo</h1>
					<em>Os fatos diários lidos a partir de um olhar teológico</em>
				</div>
			</header>
			<div class="clearfix"></div>
			<div class="row">
				<aside class="col-md-4 float-right mar-bot-50 mar-top-50 iasd-aside">
					<div class="iasd-contact-info">
						<h3>Perfil do autor</h3>
						<p>Formado em Teologia, pós-graduado em Aconselhamento e Mestre em Teologia Pastoral. Foi pastor distrital, trabalhou no evangelismo público na Associação Paulistana, Associação Paulista do Vale e na União Central Brasileira. Atualmente é diretor de Comunicação da Igreja Adventista do Sétimo Dia para oito países sul-americanos. </p>
						<em>Twitter: <a href="tel:556181211723">@rafaelrossi7</a></em>
						<em>Facebook: <a href="http://www.facebook.com/usuario">facebook.com/rafaelrossi7</a></em>
					</div>
				</aside>
				<div class="clearfix visible-sm visible-xs"></div>
				<section class="col-md-8 mar-top-30">
					<h1 class="iasd-main-title">Em Destaque</h1>
					<article class="entry-content iasd-highlight mar-bot-50">
						<header>
							<time>08 de dezembro de 2013</time>
							<h1>Presente de Natal</h1>
						</header>
						<p>Milhões de pessoas já começaram a jornada para comprar os presentes de Natal. Estima-se que na América do Sul os gastos devem ultrapassar US$ 2 bilhões. Em uma recente pesquisa publicada no jornal “O Estado de São Paulo”, de todas as pessoas ouvidas, 67% afirmaram que pretendem presentear parentes e amigos neste Natal, enquanto 15% disseram que não vão dar presentes.</p>
						<a href="#" title="Clique para ver a matéria completa" class="more-link">Ver Post Completo »</a>
					</article>
					<div class="iasd-archive">
						<article>
							<header>
								<h1>Todos <span class="hidden-xs">os Artigos</span></h1>
							</header>
							<ul>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
								<li>
									<a href="#" title="Clique para ler o artigo completo">
										<time>16 de dezembro de 2013</time>
										<h2>Cras id laoreet erat. Interdum et malesuada</h2>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
									</a>
								</li>
							</ul>
							<a href="#" class="btn btn-default btn-block load-more_posts-link" title="Mostrar mais">Mostrar mais</a>
						</article>
					</div>
				</section>
				<aside class="col-md-4 mar-top-50-sm iasd-aside">
					<div class="iasd-widget iasd-widget-posts_box">
						{% include widgets/posts_list_columnists.html %}
					</div>
				</aside>
				<aside class="col-md-4 float-right visible-md visible-lg iasd-aside">
					<div class="iasd-widget iasd-widget-posts_box">
						{% include widgets/posts_box_ordered.html title="Artigos mais lidos" img1="" img2="" img3="" img4="" %}
					</div>
				</aside>
			</div>
		</div>
