---
layout: template
body_id: iasd-institutional-cover
css: association_v1
---
		<header class="iasd-institutional-header" style="background: url(destaque-pedidos-de-oracao.png)">
			<div class="container">
				<figcaption>
					<h1>Pedidos<br />de Oração</h1>
				</figcaption>
			</div>
		</header>
		<div class="container">
			<section class="row">
				<article class="col-sm-8 entry-content">
					<header>
						<div class="sharing-links mar-top-0">
							<ul class="social-media">
								<li class="facebook"><div id="fb-root"></div><script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=261838613827121"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-like" data-href="https://www.facebook.com/nexettbr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
								<li class="google"><script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'pt-BR'}</script><g:plusone size="medium"></g:plusone></li>
								<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
							</ul>
							<ul class="functions">
								<li><a href="javascript:window.print();" class="print" title="Imprimir página">Imprimir página</a></li>
								<li><a href="mailto:?subject=Leia este artigo do Portal Adventista&body=Título do post - http://endereco.com.br" class="mail" title="Enviar por e-mail">Enviar por e-mail</a></li>
							</ul>
						</div>
					</header>
					<h2>Prezado(a) amigo(a)</h2>
					<p>&nbsp;</p>
					<p>Envie-nos seu pedido de oração. De segunda a sexta-feira estaremos orando por você, aqui no escritório da Igreja Adventista para a América do Sul.</p>
					<p>Seu pedido não será exposto, nós o trataremos de forma confidêncial.</p>
					<p>Confie no poder da oração intercessória. Bênçãos sem medida estão à sua disposição.</p>
					<p>Nós oraremos por você!</p>
					<form action="" class="col-sm-12 highlight-box mar-top-30" method="get">
					<h5>Seu Nome (obrigatório)</h5>
					<input type="text" name="first_name" value="" maxlength="100" style="width:100%" />
					<br />
					<br />
					<h5>Last name (obrigatório)</h5>
					<input type="text" name="last_name" value="" maxlength="100" style="width:100%" />
					<br />
					<br />
					<h5>Pedido de Oração</h5>
					<textarea rows="6" style="width:100%"></textarea>
					<br />
					<br />
					<label><input type="checkbox" name="send-email" value="email" class="check">Enviar cópia dessa mensagem para o seu endereço de e-mail.</label>
					<br />
					<label><input type="checkbox" name="newsletter" value="newsletter" class="check">Assinar newsletter para receber notícias da IASD semanalmente.</label>
					<br />
					<br />
					<input type="submit" value="Enviar" class="btn btn-default" />
					</form>
				</article>
				<div class="clearfix visible-xs"></div>
				<aside class="col-sm-4 iasd-aside mar-top-50-xs">
					<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded" />
					<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded mar-top-30" />
					<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded mar-top-30" />
					<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded mar-top-30" />
				</aside>
			</section>
		</div>
