---
layout: template
css: asn
---		
		<div class="container">
			<section class="row">
				<article class="col-sm-8 entry-content">
					<header>
						<time>27 de setembro de 2013</time>
						<h1>Trânsito Legal – TV Gazeta</h1>
						<div class="sharing-links">
							<ul class="social-media">
								<li class="facebook"><div id="fb-root"></div><script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=261838613827121"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-like" data-href="https://www.facebook.com/nexettbr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
								<li class="google"><script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'pt-BR'}</script><g:plusone size="medium"></g:plusone></li>
								<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
							</ul>
							<ul class="functions">
								<li><a href="javascript:window.print();" class="print" title="Imprimir página">Imprimir página</a></li>
								<li><a href="mailto:?subject=Leia este artigo do Portal Adventista&body=Título do post - http://endereco.com.br" class="mail" title="Enviar por e-mail">Enviar por e-mail</a></li>
							</ul>
						</div>
					</header>
					<iframe width="640" height="360" src="//www.youtube.com/embed/1AubCJSt1x8" frameborder="0" allowfullscreen></iframe>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis massa nec magna commodo facilisis. Quisque at blandit libero. Morbi ultricies non enim vel elementum. Morbi id ultrices libero. Suspendisse et elit et tortor sollicitudin molestie mollis eu libero. Fusce sagittis magna sit amet consequat bibendum. Cras viverra luctus magna a facilisis. Curabitur eu nunc est.</p>
				</article>
				<div class="clearfix visible-xs"></div>	
				<aside class="col-sm-4 col-xs-12 iasd-aside">
					<div class="iasd-widget iasd-widget-menu">
						{% include widgets/custom_menu.html %}
					</div>
					<div class="iasd-contact-info well">
						<h3>Assessoria de imprensa</h3>
						<p>Felipe Lemos</p>
						<a href="tel:556181211723">
							<em>+55 61 8121-1723</em>
						</a>
						<a href="mailto:nome@adventistas.org.br">
							<em>felipe.lemos@adventistas.org.br</em>
						</a>
					</div>
				</aside>
			</section>
		</div>
