---
layout: widgets
title: App Card
---

<div class="iasd-app-card">
	<div>App oficial</div>
	<img src="http://placehold.it/140x140" />
	<h3><a href="javascript:void(0)">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></h3>
	<span class="iasd-app-dev">Nullam lacus neque lacinia faucibus nisi eu, blandit sollicitudin justo</span>
	<ul>
		<li><a href="javascript:void(0)"></a></li>
		<li><a href="javascript:void(0)"></a></li>
		<li><a href="javascript:void(0)"></a></li>
	</ul>
	<small>Grátis</small>
</div>