---
layout: widgets
title: Texto
---
<div>
	<h1>Texto simples com título</h1>
	<p>Permite inserir trechos de texto em templates internos.</p>
	<hr />
	<h2>Disponível para:</h2>
	<ul>
		<li>Coluna &#x2153;.</li>
	</ul>
	<hr />
	<h2>Aplicação:</h2>
	<h3>Coluna &#x2153;:</h3>
</div>
<div class="row styleguide-widgets-list">
	<div class="iasd-widget iasd-widget-text_title col-md-4">
		{% include widgets/custom_text_title.html %}
	</div>
</div>