---
layout: widgets
title: Thumbnail view
---
<div>
	<h1>Thumbnail view</h1>
	<h2>Disponível para:</h2>
	<ul>
		<li>Coluna &#x2153;;</li>
	</ul>
	<hr />
	<h2>Aplicações:</h2>
	<h3>Coluna &#x2153;:</h3>
</div>
<div class="row styleguide-widgets-list">
	<div class="iasd-widget iasd-widget-slider col-md-4">
		{% include widgets/thumbnail_view.html %}
	</div>
</div>