---
layout: template
css: blogs_internal
body_class: iasd-blogs-internal
blogs : true
---		
		<div class="container">
			<section class="row">
				<div class="col-sm-8 iasd-posts-archive">
					<div class="row styleguide-widgets-list">
						<div class="iasd-widget iasd-widget-slider col-md-12">
							{% include widgets/slider_projects.html title="Em destaque" img1="" img2="" img3="" img4="" img5="" %}
						</div>
					</div>
					<h1>Últimos posts</h1>
					<article class="format-standard">
						<h1>Standard Post Format - Class aptent taciti sociosqu ad litora torquent per conubia</h1>
						<ul>
							<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
							<li class="icon_tag">
								<ul>
									<li><a href="#" title="Tag">Bíblia</a>,</li>
									<li><a href="#" title="Tag">Evangelismo</a></li>
								</ul>
							</li>
							<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
						</ul>
						<img src="http://placehold.it/720x400" alt="Título da foto" /> <!--TODO incluir imagem em destaque se houver -->
						<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum...</p>
						<a href="#" class="btn btn-primary" title="Ver post completo">Ver post completo</a>
					</article>
					<article class="format-standard">
						<h1>Standard Post Format - Class aptent taciti sociosqu ad litora torquent per conubia</h1>
						<ul>
							<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
							<li class="icon_tag">
								<ul>
									<li><a href="#" title="Tag">Bíblia</a>,</li>
									<li><a href="#" title="Tag">Evangelismo</a></li>
								</ul>
							</li>
							<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
						</ul>
						<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum...</p>
						<a href="#" class="btn btn-primary" title="Ver post completo">Ver post completo</a>
					</article>
					<article class="format-aside">
						<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<ul>
							<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
							<li class="icon_tag">
								<ul>
									<li><a href="#" title="Tag">Bíblia</a>,</li>
									<li><a href="#" title="Tag">Evangelismo</a></li>
								</ul>
							</li>
							<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
						</ul>
					</article>
					<article class="format-image">
						<h1>Image Post Format - Class aptent taciti sociosqu ad litora torquent per conubia</h1>
						<ul>
							<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
							<li class="icon_tag">
								<ul>
									<li><a href="#" title="Tag">Bíblia</a>,</li>
									<li><a href="#" title="Tag">Evangelismo</a></li>
								</ul>
							</li>
							<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
						</ul>
						<img src="http://placehold.it/720x400" alt="Título da foto" />
					</article>
					<article class="format-video">
						<h1>Video Post Format - Class aptent taciti sociosqu ad litora torquent per conubia</h1>
						<ul>
							<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
							<li class="icon_tag">
								<ul>
									<li><a href="#" title="Tag">Bíblia</a>,</li>
									<li><a href="#" title="Tag">Evangelismo</a></li>
								</ul>
							</li>
							<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
						</ul>
						<iframe width="640" height="360" src="//www.youtube.com/embed/1AubCJSt1x8" frameborder="0" allowfullscreen=""></iframe>
					</article>
					<article class="format-audio progression-small">
						<h1>Audio Post Format - Class aptent taciti sociosqu ad litora torquent per conubia</h1>
						<ul>
							<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
							<li class="icon_tag">
								<ul>
									<li><a href="#" title="Tag">Bíblia</a>,</li>
									<li><a href="#" title="Tag">Evangelismo</a></li>
								</ul>
							</li>
							<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
						</ul>
						<audio class="progression-single progression-skin progression-minimal-light progression-audio-player" height="30" controls="controls" preload="none"><source src="http://www.redemaranatha.com.br/audios/NistoCremos/Prog027.mp3" type="audio/mp3" /></audio>
					</article>
					<article class="format-quote">
						<blockquote>
							<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
							<footer>
								<cite>Nome do Autor</cite>
							</footer>
						</blockquote>
						<ul>
							<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
							<li class="icon_tag">
								<ul>
									<li><a href="#" title="Tag">Bíblia</a>,</li>
									<li><a href="#" title="Tag">Evangelismo</a></li>
								</ul>
							</li>
							<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
						</ul>
					</article>
					<article class="format-link">
						<h1>Link Post Format - Class aptent taciti sociosqu ad litora torquent per conubia</h1>
						<ul>
							<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
							<li class="icon_tag">
								<ul>
									<li><a href="#" title="Tag">Bíblia</a>,</li>
									<li><a href="#" title="Tag">Evangelismo</a></li>
								</ul>
							</li>
							<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
						</ul>
						<p>This is Photoshop's version of Lorem Ipsum. <a href="#" title="Título do link">Proin gravida nibh vel velit auctor aliquet</a>.</p>
					</article>
					<article class="format-gallery">
						<h1>Gallery Post Format - Class aptent taciti sociosqu ad litora torquent per conubia</h1>
						<ul>
							<li class="icon_clock"><time>25 de fevereiro de 2014</time></li>
							<li class="icon_tag">
								<ul>
									<li><a href="#" title="Tag">Bíblia</a>,</li>
									<li><a href="#" title="Tag">Evangelismo</a></li>
								</ul>
							</li>
							<li class="icon_comments"><a href="#" title="Comentários">14 Comentários</a></li>
						</ul>
						<ul class="iasd-post-gallery row">
							<li class="col-md-6 col-sm-4 col-xs-6"><a href="#" class="thumbnail"><img src="http://placehold.it/370x370" alt="Título da foto" /></a></li>
							<li class="col-md-3 col-sm-4 col-xs-6"><a href="#" class="thumbnail"><img src="http://placehold.it/370x370" alt="Título da foto" /></a></li>
							<li class="col-md-3 col-sm-4 col-xs-6"><a href="#" class="thumbnail"><img src="http://placehold.it/370x370" alt="Título da foto" /></a></li>
							<li class="col-md-3 col-sm-4 col-xs-6"><a href="#" class="thumbnail"><img src="http://placehold.it/370x370" alt="Título da foto" /></a></li>
							<li class="col-md-3 col-sm-4 col-xs-6"><a href="#" class="thumbnail"><img src="http://placehold.it/370x370" alt="Título da foto" /></a></li>
							<li class="col-md-3 col-sm-4 col-xs-6"><a href="#" class="thumbnail"><img src="http://placehold.it/370x370" alt="Título da foto" /></a></li>
							<li class="col-md-3 col-sm-4 col-xs-6"><a href="#" class="thumbnail"><img src="http://placehold.it/370x370" alt="Título da foto" /></a></li>
							<li class="col-md-3 col-sm-4 col-xs-6"><a href="#" class="thumbnail"><img src="http://placehold.it/370x370" alt="Título da foto" /></a></li>
							<li class="col-md-3 col-sm-4 col-xs-6"><a href="#" class="thumbnail"><img src="http://placehold.it/370x370" alt="Título da foto" /></a></li>
						</ul>
						<a href="#" class="btn btn-primary" title="Ver post completo">Ver post completo</a>
					</article>
					<a href="#" class="btn btn-default btn-block load-more_posts-link" title="Mostrar mais">Mostrar mais</a>
				</div>
				<div class="clearfix visible-xs"></div>
				<aside class="col-sm-4 col-xs-12 iasd-aside">
					<div class="iasd-widget iasd-widget-search">
						{% include widgets/custom_search_box.html title="Busca" %}
					</div>
					<div class="iasd-widget iasd-contact-info">
						{% include widgets/contact-info.html title="Sobre o Autor" %}
					</div>
					<div class="iasd-widget iasd-widget-text_title">
						{% include widgets/custom_text_title.html title="Sobre o blog" %}
					</div>
					<div class="iasd-widget iasd-widget-posts_box">
						{% include widgets/posts_box_thumbs.html title="Materiais" img1="" img2="" img3="" img4="" img5="" %}
					</div>
					<div class="iasd-widget iasd-widget-list">
						{% include widgets/custom_list.html title="Categorias" %}
					</div>
					<div class="iasd-widget iasd-widget-list">
						{% include widgets/custom_list.html title="Arquivos" %}
					</div>
				</aside>
				<aside class="col-sm-4 mar-top-50-xs iasd-aside hidden-sm hidden-xs">
					<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded mar-bot-30" />
					<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded mar-bot-30" />
				</aside>
			</section>
		</div>