---
layout: template
css: blogs_internal
body_class: iasd-blogs-internal
blogs : true
---		
<div class="container">
	<section class="row">
		<article class="col-sm-8 entry-content">
			<header>
				<time>08 de dezembro de 2013</time>
				<h1>Seja bem-vindo! Este é o modelo padrão para posts do novo Portal Adventista</h1>
				<div class="sharing-links">
					<ul class="social-media">
						<li class="facebook"><div id="fb-root"></div><script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=261838613827121"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-like" data-href="https://www.facebook.com/nexettbr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
						<li class="google"><script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'pt-BR'}</script><g:plusone size="medium"></g:plusone></li>
						<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
					</ul>
					<ul class="functions">
						<li><a href="javascript:window.print();" class="print" title="Imprimir página">Imprimir página</a></li>
						<li><a href="mailto:?subject=Leia este artigo do Portal Adventista&body=Título do post - http://endereco.com.br" class="mail" title="Enviar por e-mail">Enviar por e-mail</a></li>
					</ul>
				</div>
			</header>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis massa nec magna commodo facilisis. Quisque at blandit libero. Morbi ultricies non enim vel elementum. Morbi id ultrices libero. Suspendisse et elit et tortor sollicitudin molestie mollis eu libero. Fusce sagittis magna sit amet consequat bibendum. Cras viverra luctus magna a facilisis. Curabitur eu nunc est.</p>
			<h2>Modelo de cabeçalhos</h2>
			<p>Proin pulvinar neque id luctus adipiscing. Etiam mollis vulputate ante, at consequat neque imperdiet et. Integer iaculis ac erat et commodo. Curabitur in odio turpis. Donec hendrerit urna et nisl imperdiet, sed dapibus lorem eleifend. Curabitur iaculis sed libero et auctor. Quisque lacus risus, placerat a vehicula in, volutpat vitae risus. Donec quis suscipit sapien, a malesuada arcu. Suspendisse dolor felis, suscipit pellentesque lectus at, scelerisque sagittis ligula. Proin dictum metus id pellentesque condimentum.</p>
			<h1>Nível 1: Lorem ipsum dolor sit amet</h1>
			<h2>Nível 2: consectetur adipiscing elit</h2>
			<h3>Nível 3: Phasellus laoreet dui</h3>
			<h4>Nível 4: Eu interdum eleifend</h4>
			<h5>Nível 5: Velit pulvinar ligula</h5>
			<h6>Nível 6: Velit ligula ac sapien</h6>
			<hr />
			<h2>Modelo de corpo de texto</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis massa nec magna commodo facilisis. Quisque at blandit libero. Morbi ultricies non enim vel elementum. Morbi id ultrices libero. Suspendisse et elit et tortor sollicitudin molestie mollis eu libero. Fusce sagittis magna sit amet consequat bibendum. Cras viverra luctus magna a facilisis. Curabitur eu nunc est.</p>
			<div class="wp-caption alignleft"><img class="size-full" alt="#" src="http://placehold.it/260x190" width="260" height="190"><p class="wp-caption-text">Legenda de foto alinhada à esquerda</p></div>
			<p>Integer et hendrerit orci. Nunc tempus nunc nisl, vitae commodo nisi tristique at. Fusce elementum, magna ac lacinia ornare, felis mi ultricies odio, quis cursus mi mi eu neque. Vivamus nec ipsum vitae est tempus rhoncus. Etiam adipiscing tellus ipsum, ut mattis ipsum luctus vel. Nulla sit amet vulputate enim. Nulla facilisi. Maecenas vel risus urna. Maecenas fringilla dictum aliquam. Donec eu orci tellus. Cras id dapibus augue, a porta nisi. Ut eleifend sed nisl quis commodo. Suspendisse potenti. Vestibulum vestibulum, felis dignissim interdum eleifend, quam sem elementum magna, in lobortis sem urna suscipit libero. Quisque tincidunt at lacus nec feugiat.</p>
			<p>Duis sem purus, tempus vitae dolor vitae, gravida interdum lorem. Nullam rhoncus at massa id porta. Sed ut ultricies justo. Etiam facilisis velit semper lorem iaculis ultrices. Aliquam iaculis, justo vel dapibus viverra, ligula dolor sodales urna, sed consectetur lectus nunc non augue. Aenean tristique, lacus vel rhoncus dictum, magna sapien convallis odio, nec cursus nibh risus vulputate odio. Integer cursus, justo in fermentum sodales, est orci congue neque, nec suscipit justo nibh non orci. Nunc sed consequat erat. Morbi pretium condimentum quam, sit amet adipiscing sapien pellentesque sed. Vivamus laoreet eros in leo congue vehicula. Cras euismod quam sit amet neque ultricies pretium. Phasellus porttitor ultricies elit a dignissim. Donec venenatis tellus purus, at sodales felis adipiscing sed. In hac habitasse platea dictumst.</p>
			<p>Fusce molestie nunc eu vehicula condimentum. Cras eu sem nec dolor pretium volutpat. <a href="#" title="Modelo de link interdum et malesuada fames ac ante ipsum primis in faucibus">Modelo de link interdum et malesuada fames ac ante ipsum primis in faucibus</a>. Sed vel tellus metus. Sed ullamcorper sagittis sagittis. Sed dolor diam, fringilla at varius auctor, lacinia eget augue. Proin iaculis eleifend nulla, non ultricies dui adipiscing vitae. Sed cursus fringilla lacus. In ultrices non risus vel semper. Mauris quis magna odio.</p>
			<h3>Modelo de citação</h3>
			<p>Integer et hendrerit orci. Nunc tempus nunc nisl, vitae commodo nisi tristique at. Fusce elementum, magna ac lacinia ornare, felis mi ultricies odio, quis cursus mi mi eu neque. Vivamus nec ipsum vitae est tempus rhoncus. Etiam adipiscing tellus ipsum, ut mattis ipsum luctus vel. Nulla sit amet vulputate enim. Nulla facilisi. Maecenas vel risus urna. Maecenas fringilla dictum aliquam. Donec eu orci tellus. Cras id dapibus augue, a porta nisi. Ut eleifend sed nisl quis commodo. Suspendisse potenti. Vestibulum vestibulum, felis dignissim interdum eleifend, quam sem elementum magna, in lobortis sem urna suscipit libero. Quisque tincidunt at lacus nec feugiat.</p>
			<blockquote cite="http://#">Suspendisse eu pellentesque odio. Sed eros urna, cursus sit amet quam vitae, pharetra congue arcu. In cursus neque gravida, euismod risus vitae, cursus nunc. Phasellus auctor augue in sem lacinia, dapibus elementum lorem convallis. Ut vestibulum egestas fermentum. Pellentesque eu mauris sagittis, mollis massa eu, convallis mi. In dignissim porttitor eros at tristique.</blockquote>
			<p>Fusce quis tincidunt sapien. Quisque sed leo elit. Pellentesque bibendum accumsan enim. Vestibulum enim nisl, auctor vel posuere ut, lobortis eu lacus. Aliquam vel volutpat diam, ornare sollicitudin neque. Quisque pulvinar porta enim eget laoreet. Duis sed mollis sem, facilisis auctor mauris.</p>
			<p>Maecenas fermentum porta libero, pretium pharetra orci tempor eget. Sed pretium, lacus quis convallis condimentum, felis mi interdum magna, aliquet rhoncus lacus libero feugiat quam. Integer vulputate diam at fringilla bibendum. <strong>Vestibulum vitae neque ut augue tempor tempor sed vitae erat. Quisque eros leo, vehicula et molestie eget, luctus eu odio. Donec elementum rutrum consequat. Aenean ornare rhoncus nisi, sit amet egestas dolor fermentum nec. Aenean congue cursus nisl at imperdiet.</strong> Morbi convallis fermentum ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin non faucibus lacus. Praesent molestie facilisis dolor at convallis. Aliquam id mauris eros. Cras sit amet mattis sapien. Quisque consectetur arcu augue, nec convallis nibh rutrum quis.</p>
			<p class="versicle"><sup>1</sup>No princípio criou Deus o céu e a terra. <sup>2</sup>E a terra era sem forma e vazia; e havia trevas sobre a face do abismo; e o Espírito de Deus se movia sobre a face das águas. <sup>3</sup>E disse Deus: Haja luz; e houve luz.<strong>Gênesis 1:1-3</strong></p>
			<p>Duis sem purus, tempus vitae dolor vitae, gravida interdum lorem. Nullam rhoncus at massa id porta. Sed ut ultricies justo. Etiam facilisis velit semper lorem iaculis ultrices. Aliquam iaculis, justo vel dapibus viverra, ligula dolor sodales urna, sed consectetur lectus nunc non augue. Aenean tristique, lacus vel rhoncus dictum, magna sapien convallis odio, nec cursus nibh risus vulputate odio. Integer cursus, justo in fermentum sodales, est orci congue neque, nec suscipit justo nibh non orci. Nunc sed consequat erat. Morbi pretium condimentum quam, sit amet adipiscing sapien pellentesque sed. Vivamus laoreet eros in leo congue vehicula. Cras euismod quam sit amet neque ultricies pretium. Phasellus porttitor ultricies elit a dignissim. Donec venenatis tellus purus, at sodales felis adipiscing sed. In hac habitasse platea dictumst.</p>
			<h2>Modelo de listas</h2>
			<p>Proin pulvinar neque id luctus adipiscing. Etiam mollis vulputate ante, at consequat neque imperdiet et. Integer iaculis ac erat et commodo. Curabitur in odio turpis. Donec hendrerit urna et nisl imperdiet, sed dapibus lorem eleifend. <del>Curabitur iaculis sed libero et auctor. Quisque lacus risus, placerat a vehicula in, volutpat vitae risus. Donec quis suscipit sapien, a malesuada arcu. Suspendisse dolor felis, suscipit pellentesque lectus at, scelerisque sagittis ligula. Proin dictum metus id pellentesque condimentum.</del></p>
			<ul>
				<li>Lorem ipsum dolor sit amet;</li>
				<li>Phasellus laoreet dui:
					<ul>
						<li>Lorem ipsum dolor sit amet;</li>
						<li>Consectetur adipiscing elit;</li>
						<li>Eu interdum eleifend;</li>
						<li>Velit pulvinar ligula;</li>
						<li>Velit ligula ac sapien.</li>
					</ul>
				</li>
				<li>Phasellus laoreet dui;</li>
				<li>Eu interdum eleifend;</li>
				<li>Velit pulvinar ligula;</li>
				<li>Velit ligula ac sapien.</li>
			</ul>
			<p>Proin pulvinar neque id luctus adipiscing. Etiam mollis vulputate ante, at consequat neque imperdiet et. Integer iaculis ac erat et commodo. Curabitur in odio turpis. Donec hendrerit urna et nisl imperdiet, sed dapibus lorem eleifend. Curabitur iaculis sed libero et auctor. Quisque lacus risus, placerat a vehicula in, volutpat vitae risus. Donec quis suscipit sapien, a malesuada arcu. Suspendisse dolor felis, suscipit pellentesque lectus at, scelerisque sagittis ligula. Proin dictum metus id pellentesque condimentum.</p>
			<p>Fusce molestie nunc eu vehicula condimentum. Cras eu sem nec dolor pretium volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vel tellus metus. Sed ullamcorper sagittis sagittis. Sed dolor diam, fringilla at varius auctor, lacinia eget augue. Proin iaculis eleifend nulla, non ultricies dui adipiscing vitae. Sed cursus fringilla lacus. In ultrices non risus vel semper. Mauris quis magna odio.</p>
			<ol>
				<li>Lorem ipsum dolor sit amet;</li>
				<li>consectetur adipiscing elit;</li>
				<li>Phasellus laoreet dui
					<ol>
						<li>Lorem ipsum dolor sit amet;</li>
						<li>Consectetur adipiscing elit;</li>
						<li>Eu interdum eleifend;</li>
						<li>Velit pulvinar ligula;</li>
						<li>Velit ligula ac sapien.</li>
					</ol>
				</li>
				<li>Eu interdum eleifend;</li>
				<li>Velit pulvinar ligula;</li>
				<li>Velit ligula ac sapien.</li>
			</ol>
			<p>Duis sem purus, tempus vitae dolor vitae, gravida interdum lorem. Nullam rhoncus at massa id porta. Sed ut ultricies justo. Etiam facilisis velit semper lorem iaculis ultrices. Aliquam iaculis, justo vel dapibus viverra, ligula dolor sodales urna, sed consectetur lectus nunc non augue. Aenean tristique, lacus vel rhoncus dictum, magna sapien convallis odio, nec cursus nibh risus vulputate odio. Integer cursus, justo in fermentum sodales, est orci congue neque, nec suscipit justo nibh non orci. Nunc sed consequat erat. Morbi pretium condimentum quam, sit amet adipiscing sapien pellentesque sed. Vivamus laoreet eros in leo congue vehicula. Cras euismod quam sit amet neque ultricies pretium. Phasellus porttitor ultricies elit a dignissim. Donec venenatis tellus purus, at sodales felis adipiscing sed. In hac habitasse platea dictumst.</p>
			<p>Maecenas fermentum porta libero, pretium pharetra orci tempor eget. Sed pretium, lacus quis convallis condimentum, felis mi interdum magna, aliquet rhoncus lacus libero feugiat quam. Integer vulputate diam at fringilla bibendum. Vestibulum vitae neque ut augue tempor tempor sed vitae erat. Quisque eros leo, vehicula et molestie eget, luctus eu odio. Donec elementum rutrum consequat. Aenean ornare rhoncus nisi, sit amet egestas dolor fermentum nec. Aenean congue cursus nisl at imperdiet. Morbi convallis fermentum ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin non faucibus lacus. Praesent molestie facilisis dolor at convallis. Aliquam id mauris eros. Cras sit amet mattis sapien. Quisque consectetur arcu augue, nec convallis nibh rutrum quis.</p>
			<hr />
			<h2>Tabelas</h2>
			<p>Duis semper turpis ac elit facilisis, et luctus velit auctor. Mauris rhoncus dui fermentum odio bibendum, at vulputate orci vestibulum. Sed ultricies, lorem sed tristique euismod, eros lacus vulputate eros, convallis placerat nulla dolor id neque.</p>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
							<th>Table heading</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
							<td>Table cell</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>Quisque id blandit elit, vitae egestas tortor. Pellentesque vulputate consequat magna sed pretium. Mauris sit amet egestas ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			<hr />
			<h2>Perguntas frequentes</h2>
			<p>Fusce molestie nunc eu vehicula condimentum. Cras eu sem nec dolor pretium volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vel tellus metus. Sed ullamcorper sagittis sagittis. Sed dolor diam, fringilla at varius auctor, lacinia eget augue. Proin iaculis eleifend nulla, non ultricies dui adipiscing vitae. Sed cursus fringilla lacus. In ultrices non risus vel semper. Mauris quis magna odio.</p>
			<dl class="faq mar-top-30" id="accordion">
				<dt><a data-toggle="collapse" data-parent="#accordion" href="#question-01" title="Clique para ler a resposta">In mattis lectus eget gravida ullamcorper?</a></dt>
				<dd id="question-01" class="panel-collapse collapse"><ul><li>Phasellus non tincidunt lorem, ut sodales metus. Pellentesque lorem turpis, accumsan at neque ac, scelerisque faucibus lectus. Nullam non lorem iaculis, ornare lectus sit amet, ullamcorper purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li><li>Phasellus non tincidunt lorem, ut sodales metus. Pellentesque lorem turpis, accumsan at neque ac, scelerisque faucibus lectus. Nullam non lorem iaculis, ornare lectus sit amet, ullamcorper purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li></ul></dd>
				<dt><a data-toggle="collapse" data-parent="#accordion" href="#question-02" title="Clique para ler a resposta">Vestibulum a tortor id libero vestibulum ultrices ac id nulla?</a></dt>
				<dd id="question-02" class="panel-collapse collapse">Suspendisse ultricies tempor neque eget gravida. Donec tincidunt rutrum est, ac elementum dui laoreet non. Nulla augue diam, mattis suscipit consequat vel, faucibus ut est. Nullam fringilla vel dui ac pharetra. Quisque sit amet pharetra nulla. Aenean aliquam libero et nisl consequat, a hendrerit velit tincidunt.</dd>
				<dt><a data-toggle="collapse" data-parent="#accordion" href="#question-03" title="Clique para ler a resposta">Vivamus ut justo vel nisl pretium mattis?</a></dt>
				<dd id="question-03" class="panel-collapse collapse">Integer tempor consequat lorem, non iaculis urna volutpat adipiscing. Nulla nec consectetur neque, congue eleifend purus. In in fermentum sem. Curabitur eget dolor laoreet, vehicula risus euismod, adipiscing tellus. Sed libero nunc, condimentum quis pharetra et, tristique in mi. Proin vel nulla sed dolor fermentum consequat non quis turpis. Vestibulum rutrum tincidunt ultricies. Etiam odio metus, lacinia sed pretium ac, euismod sagittis urna.</dd>
				<dt><a data-toggle="collapse" data-parent="#accordion" href="#question-04" title="Clique para ler a resposta">Donec blandit ante vitae lacus suscipit imperdiet?</a></dt>
				<dd id="question-04" class="panel-collapse collapse">Mauris convallis odio facilisis urna congue bibendum. Integer cursus tristique aliquam. Proin sollicitudin ut dolor ac dictum. Morbi porttitor risus non sapien malesuada, a sollicitudin est pellentesque. Integer ac sem id nisl sagittis tempus vel sed mauris. Duis et commodo nisl.</dd>
				<dt><a data-toggle="collapse" data-parent="#accordion" href="#question-05" title="Clique para ler a resposta">Sed cursus ipsum sed mi aliquam laoreet?</a></dt>
				<dd id="question-05" class="panel-collapse collapse">Pellentesque faucibus felis nec sodales viverra. Curabitur sed ante quis felis egestas mollis sit amet eget mi. Vivamus quis urna luctus diam varius molestie a a elit. Sed posuere, mi at ultricies rhoncus, turpis diam laoreet justo, a varius neque quam eget purus.</dd>
			</dl>
			<p>Donec ut odio convallis, luctus nisl quis, placerat odio. Nulla accumsan mattis orci eget tincidunt. Duis mollis lorem a aliquet mattis. Aliquam erat volutpat. Donec accumsan urna quis bibendum tempor. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis massa nec magna commodo facilisis. Quisque at blandit libero. Morbi ultricies non enim vel elementum. Morbi id ultrices libero. Suspendisse et elit et tortor sollicitudin molestie mollis eu libero. Fusce sagittis magna sit amet consequat bibendum. Cras viverra luctus magna a facilisis. Curabitur eu nunc est.</p>
			<hr />
			<h2>Vídeo incorporado do Youtube</h2>
			<iframe width="640" height="360" src="//www.youtube.com/embed/1AubCJSt1x8" frameborder="0" allowfullscreen></iframe>
			<p>Nunc rhoncus purus id auctor vestibulum. Fusce rhoncus gravida mi, sagittis condimentum felis hendrerit sit amet. Pellentesque aliquam sagittis porta. Suspendisse aliquet, diam nec laoreet feugiat, sapien leo tempus neque, in iaculis est dolor vel ipsum.</p>
			<hr class="iasd-footer-top">
			<footer>
				<h2 class="mar-top-30">Marcadores:</h2>
				<nav class="iasd-tags">
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Taxonomia com nome comprido">Taxonomia com nome comprido</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Taxonomia comprida">Taxonomia comprida</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Tax">Tax</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
					<a href="#" title="Taxonomia">Taxonomia</a>
				</nav>
				<div class="iasd-contact-info well clearfix">
					<figure class="img-circle">
						<img src="http://placehold.it/95x95/eee9e3/3a3a3a/&amp;text=Avatar" height="95px" width="95px" alt="Título da Imagem">
						<div class="img-gradient"></div>
					</figure>
					<div class="contact-info-title">
						<div class="table-cell">
							<h3>João Antunes Souza</h3>
						</div>
					</div>
					<div class="float-right">
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
						<ul class="social-media">
							<li><a target="_blank" title="Acesse a fanpage no Facebook" class="facebook" href="http://www.facebook.com/IgrejaAdventistadoSetimoDia"></a></li>
							<li><a target="_blank" title="Acesse o perfil no Twitter" class="twitter" href="http://www.twitter.com/iasd"></a></li>
							<li><a target="_blank" title="Acesse o perfil no Google+" class="google" href="https://plus.google.com/100209406986918435039/about"></a></li>
							<li><a target="_blank" title="Envie um e-mail para o autor" class="mail" href="mailto:autor@adventistas.org"></a></li>
							<li><a target="_blank" title="Acesse o website pessoal do autor" class="link-author" href="http://www.author-website.com.br"></a></li>
						</ul>
					</div>
				</div>
				<div id="iasd-page-prevnext">
					<div class="page-prevnext">
						<a href="#" title="Clique para ir ao post anterior">
							<div class="btn btn-default">«</div>
						</a>
						<span class="hidden-xs">
							<em>Post anterior:</em>
							<a href="#" title="Clique para ir ao post anterior">Vestibulum vel nisi felis cursus</a>
						</span>
						<a href="#" class="single visible-xs" title="Clique para ir ao post anterior">Anterior</a>
					</div>
					<div class="page-prevnext pull-right">
						<a href="#" title="Clique para ir ao próximo post">
							<div class="btn btn-default">»</div>
						</a>
						<span class="hidden-xs">
							<em>Próximo post:</em>
							<a href="#" title="Clique para ir ao próximo post">Quisque id blandit vitae egestas... </a>
						</span>
						<a href="#" class="single visible-xs" title="Clique para ir ao próximo post">Próximo</a>
					</div>
				</div>
				<div id="disqus_thread"></div><!-- TODO Incluir função reset_disqus para recarregar plugin quando a orietação do celular é trocada -->
				<script type="text/javascript">
					var disqus_shortname = 'blogdopaulo';
					var reset_disqus = function(){
						DISQUS.reset({
							reload: true,
						});
					};				
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
					window.onresize = function() { reset_disqus(); };
				</script>
			</footer>
		</article>
		<div class="clearfix visible-xs"></div>
		<aside class="col-sm-4 col-xs-12 iasd-aside">
			<div class="iasd-widget iasd-widget-search">
				{% include widgets/custom_search_box.html title="Busca" %}
			</div>
			<div class="iasd-widget iasd-widget-posts_box">
				{% include widgets/posts_box_thumbs.html title="Materiais" img1="" img2="" img3="" img4="" img5="" %}
			</div>
			<div class="iasd-widget iasd-widget-list">
				{% include widgets/custom_list.html title="Categorias" %}
			</div>
			<div class="iasd-widget iasd-widget-list">
				{% include widgets/custom_list.html title="Arquivos" %}
			</div>
		</aside>
		<aside class="col-sm-4 mar-top-50-xs iasd-aside hidden-sm hidden-xs">
			<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded mar-bot-30" />
			<img src="http://placehold.it/300x170/eee9e3/3a3a3a/&text=Sidebar" class="img-responsive img-rounded mar-bot-30" />
		</aside>
	</section>
</div>