@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#2ea9bf;
$theme-alt-color: 					$blogs-main-color;
$theme-header-background-img:       'headers/blogs.png';
$theme-main-nav-base-color:			darken($theme-alt-color, 7%);
$theme-footer-base-color:			darken($theme-alt-color, 7%);

@import "iasd-bootstrap";
@import "iasd-blogs-cover";