@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#f6856b;
$theme-alt-color: 					#523345;
$theme-header-background-img:       'headers/blog_theme_01.png';
$theme-main-nav-base-color:			darken($theme-alt-color, 7%);
$theme-footer-base-color:			darken($theme-alt-color, 7%);

@import "iasd-bootstrap";
@import "iasd-blogs";