body > footer{
	@include gradient-vertical(lighten($theme-footer-base-color, 10%), $theme-footer-base-color);
	@include box-shadow(inset 0px 5px 10px rgba(0,0,0,0.1));
	margin-top: 50px;
	padding: 50px 0;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			&+li{
				margin-top: 3px;
			}
		}
	}
	a{
		@include opacity(0.6);
		color: $body-bg;
		font-style: italic;
		font-size: 12px;
		line-height: 12px;
		&:hover, &:focus{
			color: $body-bg;
			@include opacity(1);
		}
	}
	h1{
		color: $body-bg;
		font-family: $alt-font-family-sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}
	.info{
		@include image-2x($theme-footer-logo-retina);
		background: {
			image: image-url($theme-footer-logo);
			repeat: no-repeat;
			position: top right;
			size: 160px 100px;
		}
		float: right;
		padding: 130px 0 0 0;
		text-align: right;
		width: 220px;
		address{
			h1{
				font-family: $font-family-sans-serif;
				font-size: 13px;
				font-weight: 900;
				line-height: 16px;
				margin: 0 0 5px 0;
				text-transform: none;
			}
			p{
				color: $body-bg;
				font-size: 12px;
				line-height: 16px;
				margin: 0;
			}
			& + address{
				border:{
					top: 1px solid transparentize($body-bg, 0.6);
					bottom: 1px solid transparentize($body-bg, 0.6);
				}
				margin: 20px 0;
				padding: 20px 0 15px;
			}
			.social-media{
				margin: 10px 0;
				& > li{
					display: inline-block;
					height: 25px;
					width: 25px;
					& + li{
						margin-left: 10px;
					}
					& > a{
						@include border-radius(50%);
						@include box-shadow(0px 2px 0px rgba(0, 0, 0, 0.15));
						background: $body-bg;
						display: block;
						height: 25px;
						position: relative;
						text-align: left;
						text-indent: -5000px;
						width: 25px;
						&:after{
							color: $theme-footer-base-color;
							display: block;
							height: 25px;
							font-family: FontAwesome;
							font-style: normal;
							font-size: 16px;
							position: absolute;
							left: 0;
							line-height: 25px;
							text-align: center;
							text-indent: 0;
							top: 0;
							width: 25px;
						}
						&.facebook{
							&:after{
								content: '\f09a';
								font-size: 18px;
								line-height: 28px;
							}
						}
						&.twitter{
							&:after{
								content: '\f099';
								font-size: 18px;
								line-height: 28px;
								text-indent: 1px;
							}
						}
						&.google{
							&:after{
								content: '\f0d5';
							}
						}
						&.youtube{
							&:after{
								content: '\f16a';
							}
						}
						&.rss{
							&:after{
								content: '\f09e';
								text-indent: 2px;
							}
						}						
					}
				}
			}
		}
		.copyright{
			@include opacity(0.6);
			color: $body-bg;
			font-size: 12px;
			line-height: 16px;
			padding: 10px 0 0 0;
		}	
	}
}

@media (max-width: $screen-sm-max) {
	body > footer{
		.info{
			background-position: top center !important;
			float: none;
			left: 50%;
			margin-left: -110px;
			text-align: center;
			.back-top{
				cursor: pointer;
				display: inline-block !important;
				height: 15px;
				line-height: 15px;
				margin: 20px 0 0 0;
				padding: 0 0 0 20px;
				position: relative;
				&:before{
					@include border-radius(50%);
					@include box-shadow(0px 2px 0px rgba(0, 0, 0, 0.15));
					background: $body-bg;
					color: $theme-footer-base-color;
					content: '\f102';
					display: block;
					height: 15px;
					font-family: FontAwesome;
					font-style: normal;
					font-size: 11px;
					position: absolute;
					left: 0;
					top: 0;
					width: 15px;
				}
			}			
		}
	}
}


/* *********************** */
/*   Internationalization  */
/* *********************** */

body{
    &.es_ES{
		& > footer{
			.info{
				@include image-2x('logos_es_ES/iasd_footer@2x.png');
				background: {
					image: image-url('logos_es_ES/iasd_footer.png');
					repeat: no-repeat;
					position: top right;
					size: 160px 100px;
				}
			}
		}
    }
}