@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.radiont, .tvnt {
	position: relative;
}

.radiont {
	background: #005b95;
	.pt_BR {
		background: no-repeat image-url("player_nt/radio-novo-tempo_pt.jpg");
	}
	.es_ES {
		background: no-repeat image-url("player_nt/radio-novo-tempo_esp.jpg");
	}
	.player {
		margin-top: 25px;
		height: 289px;
	}
	object {
		position: absolute;
		bottom: 0;
		width: 420px;
		height: 32px;
	}
	.logo {
		display: block;
		height: 20px;
		width: 170px;
		margin: 0 0 0 40px;
		padding-top: 25px;
	}
	.veja_mais {
		top: 185px;
		left: 30px;
	}
	.cs-select {
		left: 14px;
		top: 125px;
	}
	.cs-options {
		max-height: 133px;
		overflow: auto !important;
		color: #005b95;
	}
	.cs-skin-border.cs-active > span {
		color: #005b95;
	}
}

.tvnt {
	background: #313131;
	.pt_BR {
		background: no-repeat image-url("player_nt/tv-novo-tempo_pt.jpg");
		.cs-select::before {
			position: relative;
			left: 15px;
			width: 170px;
			content: 'TV Novo Tempo';
			font-family: "Futura Std",Helvetica,Arial,sans-serif;
			font-weight: 100;
			text-transform: uppercase;
			font-size: 17px;
			color: #fbf6f0;
		}
	}
	.es_ES {
		background: no-repeat image-url("player_nt/tv-novo-tempo_esp.jpg");
		.cs-select::before {
			position: relative;
			left: 15px;
			width: 170px;
			content: 'TV Nuevo Tiempo';
			font-family: "Futura Std",Helvetica,Arial,sans-serif;
			font-weight: 100;
			text-transform: uppercase;
			font-size: 17px;
			color: #fbf6f0;
		}
	}
	.player {
		margin-top: 25px;
	}
	object {
		position: absolute;
		right: 46px;
		width: 475px;
		height: 300px;
	}
	.logo {
		display: block;
		height: 20px;
		width: 170px;
		margin: 0 0 0 40px;
		padding-top: 25px;
	}
	.veja_mais {
		top: 185px;
	}
	.infos {
		margin-top: 70px;
		padding-left: 46px;
	}
	.cs-select {
		left: 30px;
	}
	.cs-placeholder {
		top: -10px;
	}
	.cs-options {
		top: -10px;
		color: #313131;
	}
	.cs-skin-border.cs-active > span {
		color: #313131;
	}
}

.container-tvnt {
	position: relative;
	width: 810px;
	height: 460px;
}

.veja_mais {
	display: block;
	position: absolute;
	z-index: 999;
	text-align: center;
	padding: 8px 12px;
	border: 1px solid rgba(251,246,240,0.8);
	border-radius: 3px;
	color: #fbf6f0;
	font-family: lato, Verdana, Geneva, sans-serif;
	font-weight: 200;
	text-decoration: none;
	font-size: 13px;
	&:hover {
		background: rgba(251,246,240,0.2);
	}
}


/**********************
Estilos seletor do país
***********************/

.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	text-align: left;
	background: #fff;
	z-index: 100;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'lato';
	&:focus {
		outline: none;
	}
	select {
		display: none;
	}
	span {
		display: block;
		position: relative;
		cursor: pointer;
		padding: 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	& > span {
		padding-right: 3em;
		font-weight: 300;
		font-size: 15px;
		color: #e7aa27;	
	}
	& > span::after, & .cs-selected span::after {
		speak: none;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	& > span::after {
		margin-left: 10px;
	}
	&.cs-active {
		& > span::after {
			-webkit-transform: translateY(-50%) rotate(180deg);
			transform: translateY(-50%) rotate(180deg);
		}
		.cs-options {
			visibility: visible;
		}
	}
	.cs-options {
		position: relative;
		overflow: hidden;
		width: 100%;
		background: #fff;
		visibility: hidden;
		padding-bottom: 10px;		
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		span {
			padding: 1em;
		}
		li {
			line-height: 5px;
		}
		li.cs-focus {
			span {
				background-color: #ddd;
			}
		}
	}
	li.cs-optgroup {
		ul {
			padding-left: 1em;
		}
		& > span {
			cursor: default;
		}
	}
}

.cs-active {
	z-index: 200;
}

.cs-skin-border {
	background: transparent;
	font-size: 2em;
	font-weight: 700;
	max-width: 600px;
	min-width: 123px;
	.cs-options {
		font-size: 13px;
		font-weight: 400;
		opacity: 0;
		-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
		transition: opacity 0.2s, visibility 0s 0.2s;
		li span:hover {
			background: #f5f3ec;
		}
	}
	& > span::after, & .cs-selected span::after {
		font-family: 'fontAwesome';
		content: '\f107';
	}
	ul {
		span {
			padding: 1em 2em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}
		span::after {
			content: '';
			opacity: 0;	
		}
	}
	.cs-selected {
		span::after {
			content: '\f00c';
			margin-left: 10px;
			color: #e7aa27;
			font-size: 13px;
			opacity: 1;
			-webkit-transition: opacity 0.2s;
			transition: opacity 0.2s;
		}
	}
	&.cs-active {
		& > span {
			background: #fff;
			border-color: #fff;
			font-weight: 600;
		}
		.cs-options {
			opacity: 1;
			-webkit-transition: opacity 0.2s;
			transition: opacity 0.2s;
		}
	}
	li.cs-focus span {
		background: #f5f3ec;
	}
}

@media screen and (max-width: 30em) {
	.cs-skin-border { font-size: 1em; }
}