// Theme SASS

.es_ES > header {
	background: {
		image: none;
	}
}

body>header{
	@include rgba-background(rgba($blogs-main-color, .8));
}
a{
	color: $theme-main-color;
	&:hover, &:active{
		color: lighten($theme-main-color, 10%);
	}
}

.iasd-global_navbar-main{
	@include rgba-background(rgba(tint( $blogs-main-color, 25% ),.8));
}

.iasd-blogs-internal {
	.blogs-internal-header {
		height: 610px;
		margin: -80px 0 0 0;
		& > div {
			background:{
				image: image-url($theme-header-background-img);
				position: center -40px;
			}
			height: 100%;
			position: relative;
			z-index: 1;
			section{
				display: table;
				height: 100%;
				width: 100%;
				article{
					position: absolute;
					top: 160px;
					left: 15px;
					display: table-cell;
					vertical-align: middle;
				}
			}
			h1{
				color: $body-bg;
				font-size: 60px;
				font-style: italic;
				font-weight: 300;
				padding-top: 180px;
				text-shadow: 1px 1px 0 rgba(51,51,51,0.5);
			}
			p{
				color: $body-bg;
				font-size: 18px;
				font-style: italic;
				line-height: 28px;
				text-shadow: 1px 1px 0 rgba(51,51,51,0.5);
			}
			.container{
				position: absolute;
				left: 0;
				right: 0;
				z-index: 3;
			}
			&:after{
				@include gradient-vertical(rgba(0,0,0,0), rgba(0,0,0,.25));
				bottom: 0;
				content: '';
				display: block;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
	.btn-primary{
		background-color: $theme-main-color;
		border: darken($theme-main-color, 15%);
		font-weight: 700;
		margin-top: 10px;
		&:hover, &:active{
			background-color: darken($theme-main-color, 5%);
		}
	}
	.entry-content {
		header {
			height: auto;
		}
	}
	header {
		height: 80px;
		position: relative;
		z-index: 2;
		.col-xs-4 {
			a{
				background-color: transparent;
				border: 1px solid $body-bg;
				float: right;
				opacity: .4;
				margin: 25px 0 0 0;
				&:hover, &:active{
					opacity: 1;
				}
			}
		}
		.identifier {
			.brand {
				height: 80px;
				margin: 0 20px 0 0;
				&:after {
					height: 40px;
					margin: -20px 5px 0 0;
				}
				a {
					@include image-2x($theme-logo-small-retina);
					background:{
						image: image-url($theme-logo-small);
						size: image-width($theme-logo-small);
					}
					height: 60px;
				}
			}
			.title {
				height: 80px;
				h1 {
					font-size: 25px;
					line-height: 80px;
				}
			}
		}
	}
	.iasd-contact-info {
		.well {
			margin: 35px 0 0 0;
		}
	}
	.iasd-contact-info .img-circle img {
		margin: 0;
	}

	.iasd-widget-posts_box {
		ol {
			li {
				a {
					height: 59px !important;
					h2 {
						left: 0;
						padding-left: 100px;
						padding-right: 20px;
						position: absolute;
						top: 3px;
						width: 100%;
						height: 45px;
					}
					p {
						left: 0;
						padding-left: 100px;
						position: absolute;
						top: 33px;
						width: 100%;
					}
				}
			}
		}
	}
	
	.h1-link-div {
		h1{
			a {
				color: #3a3a3a;

				&:hover {
					color: $theme-main-color;
				}
			}
		}
	}

	.snapchat_svg{
		width: 23px;
	    height: 17px;
	    line-height: 26px;
	    text-indent: 0px;
	    position: absolute;
	    margin-top: 4px;
	    margin-left: 1px;
	    fill: lighten($border-base, 7%);
	}
}

.iasd-posts-archive{
	p{
		font-size: 15px;
		line-height: 22px;
	}
	& > h1{
		@include main-title;
	}
	ul {
		padding: 0 !important;
		margin: 0 0 28px 0;
		li {
			display: inline-block;
			list-style: none !important;
			margin: 0 21px 0 17px;
			position: relative;
			& + li {
				a {
					font-weight: normal;
				}
			}
			&.icon_tag {
				margin: 0 21px 0 38px;
			} 
			&>ul {
				margin: 0 !important;
				li {
					margin: 0 !important;
				}
			}
		}
	}
	article{
		border-top: 1px solid $border-base;
		margin-top: 60px;
		padding-top: 20px;
		position: relative;	
		h1{
			font-size: 28px;
			font-weight: 900;
			line-height: 30px;

			a {
				color: #3a3a3a;

				&:hover {
					color: $theme-main-color;
				}
			}
		}
		.post_meta {
			li { 
				margin-right: 20px; 
			}
		}
		img{
			@include border-radius(5px);
			width: 100%;
			& + p{
				margin-top: 20px;
			}
		}
		iframe{
			width: 100%;
		}
		&:before{
			@include border-radius(44px);
			background:{
				color: $body-bg;
				size: 44px 44px;
				position: center center;
			}
			border: 1px solid $border-base;
			content: '';
			display: block;
			height: 44px;
			left: 50%;
			margin: 0 0 0 -22px;
			position: absolute;
			top: -22px;
			width: 44px;
		}
		&.format-standard{
			&:before{
				@include image-2x('blogs/formats@2x/format_standard@2x.png');
				background-image: image-url('blogs/formats/format_standard.png');
			}
		}
		&.format-aside{
			p{
				font-size: 22px;
				font-weight: 700;
				line-height: 30px;
				margin-top: 20px;
			}
			&:before{
				@include image-2x('blogs/formats@2x/format_aside@2x.png');
				background-image: image-url('blogs/formats/format_aside.png');
			}
		}
		&.format-image{
			&:before{
				@include image-2x('blogs/formats@2x/format_image@2x.png');
				background-image: image-url('blogs/formats/format_image.png');
			}
		}
		&.format-video{
			&:before{
				@include image-2x('blogs/formats@2x/format_video@2x.png');
				background-image: image-url('blogs/formats/format_video.png');
			}
		}
		&.format-audio{
			.mejs-container {
				height: 30px !important;
				width: 100% !important;
			}
			.mejs-time{
				border-color: $border-base !important;
			}
			.mejs-controls{
				.mejs-playpause-button, .mejs-volume-button{
					button{
						&:hover{
							color: $theme-main-color !important;
						}
					}
				}
			}
			&:before{
				@include image-2x('blogs/formats@2x/format_audio@2x.png');
				background-image: image-url('blogs/formats/format_audio.png');
			}
		}
		&.format-quote{
			blockquote{
				border: none;
				color: $alt-text-color;				
				margin: 30px 0 40px;
				padding: 0 80px 0 40px;
				position: relative;
				p{
					font-size: 22px;
					font-style: italic;
					font-weight: 300;
					line-height: 30px;
				}
				cite{
					font-size: 14px;
					font-style: italic;
					font-weight: 700;
					text-transform: uppercase;
				}
				&:before{
					@include opacity(.3);
					content: '“';
					font-size: 100px;
					left: -5px;
					position: absolute;
					top: 15px;
				}
			}
			&:before{
				@include image-2x('blogs/formats@2x/format_quote@2x.png');
				background-image: image-url('blogs/formats/format_quote.png');
			}
		}
		&.format-link{
			p{
				a{
					font-weight: 700;
				}
			}
			&:before{
				@include image-2x('blogs/formats@2x/format_link@2x.png');
				background-image: image-url('blogs/formats/format_link.png');
			}
		}
		&.format-gallery{
			.iasd-post-gallery{
				margin: -4px -2px 15px;
				li{
					margin: 0;
					padding: 4px 2px 0;
					.thumbnail{
						padding: 0;
						border: none;
						img{
							@include border-radius(0);
						}
					}
				}
			}
			&:before{
				@include image-2x('blogs/formats@2x/format_gallery@2x.png');
				background-image: image-url('blogs/formats/format_gallery.png');
			}
		}
	}
	.icon_clock, .icon_tag, .icon_comments {
		&:before {
			color: $alt-text-color;
			font-family: fontAwesome;
			left: -16px;
			line-height: 20px;
			position: absolute;
			text-align: center;
			top: 0;
		}
	}
	.icon_clock:before {
		content: '\f017';
	}
	.icon_tag:before {
		content: '\f02b';
	}
	.icon_comments:before {
		content: '\f075';
	}
	.load-more_posts-link{
		margin-top: 50px;
	}	
}

.blogs_post_meta {
	color: $text-color;
	font-weight: normal;
	list-style: none;
	margin: 20px 0 !important;
	li {
		position: relative;
		display: inline-block;
		margin-left: 17px;
		overflow: visible !important;
		+ li {
			box-shadow: none !important;
			padding-top: 0 !important;
			margin: 0 0 0 35px !important;
		}
		time {
			margin: 0 !important;
		}
	}
	.icon_clock, .icon_comments {
		&:before {
			font-family: fontAwesome;
			left: -16px;
			line-height: 20px;
			position: absolute;
			text-align: center;
			top: 0;
			color: $alt-text-color;
		}
	}
	.icon_clock:before {
		content: '\f017';
	}
	.icon_comments {
		color: $theme-main-color;
		&:before {
			content: '\f075';
		}
	}
}

.iasd-widget {

	ul {
		margin-top: 15px;	
		padding-left: 15px;

		li {
			line-height: 30px;
			color: $theme-main-color;

			a {
				color: $theme-main-color !important;

				&:hover {
					color: lighten($theme-main-color, 10%) !important;
				}
			}
		}
	}

	.iasd-widget-list {
		li {
			a {
				color: #3a3a3a !important;
			}
		}
	}
}

.search-form {
	margin-top: 25px; 

	.form-control {
		background-image: image-url('');
		background-repeat: no-repeat;
		background-position: right center;
	}
}

.mejs-container {
	.mejs-controls {
		border: solid 1px #dfd8d0;
		background: #ffffff !important;
		.mejs-playpause-button {
			border-right: solid 1px #dfd8d0;
		}
		.mejs-time-total {
			background: #e1d7ce !important;
		}
		.mejs-time-rail .mejs-time-loaded,
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
			background: #e1d7ce !important;
		}
		.mejs-time-rail .mejs-time-current,
		.mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
			background: #928a7d !important;
		}
		.mejs-volume-button {
			border-left: solid 1px #dfd8d0;
		}
		.mejs-time span {
			color: #90897f !important;
		}
	}
}


@media (min-width: $screen-md) {
	html:not(.touch){
		.mejs-time-rail{
			width: 375px !important;
			.mejs-time-total{
				width: 365px !important;
			}
		}
	}
	html.touch{
		.mejs-time{
			border: none !important;
		}
	}	

}

@media (max-width: $screen-sm-max) {
	.iasd-posts-archive{
		ul {
			margin-top: 12px;
			li {
				display: block;
				margin:{
					top: 10px;
					left: 17px;
				}
				&.icon_tag {
					margin:{
						top: 8px;
						left: 17px;
					}
				}
				& > ul {
					li {
						display: inline-block;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.iasd-blogs-internal {
		header {
			.identifier {
				.brand {
					display: table;
				}
			}
		}		
		.blogs-internal-header {
			height: 360px;
			h1{
				font-size: 40px !important;
				line-height: 50px;
				padding-top: 40px !important;
			}
			p{
				display: none;
			}
		}
	}
	.iasd-posts-archive{
		article{
			&.format-quote{
				blockquote{
					padding: 0 0 0 40px;
				}
			}
		}
	}	
}