// Theme SASS

.iasd-blogs {
	a {
		&.load-more_posts-link {
			margin-bottom: 35px !important;
			margin-top: 12px !important;
		}
	}
	.entry-content {
		h1 {
			margin: 0 0 10px 0;
		}
	}
	.iasd-widget-posts_box {
		ol {
			li {
				a {
					height: 59px !important;
					h2 {
						left: 0;
						padding-left: 100px;
						padding-right: 20px;
						position: absolute;
						top: 3px;
						width: 100%;
						height: 45px;
					}
					p {
						left: 0;
						padding-left: 100px;
						position: absolute;
						top: 33px;
						width: 100%;
					}
				}
			}
		}
	}
	.iasd-widget-slider{
		&.highlights {
			margin-bottom: 21px;
			.owl-carousel {
				.slider-item {
					a {
						&>figure {
							figcaption {
								h2 {
									margin-bottom: -12px !important;
								}
								figure {
									img {
										left: 0;
										margin: 0;
										position: relative;
									}
								}
							}
						}
					}
				}
			}
		}
		.owl-carousel{
			.slider-item{
				a {
					& > figure{
						overflow: hidden;
					}
				}
				figcaption {
					height: 100% !important;
					.img-circle {
						background: {
						    image: image-url("default_avatar.png");
						    position: center center;
						    repeat: no-repeat;
						    size: cover;
						};
						height: 65px;
						overflow: hidden;
						margin: 20px 20px 0;
						position: relative;
						width: 65px;
					}
					ul {
						color: $body-bg;
						font-size: 12px;
						font-weight: normal;
						line-height: 10px !important;
						list-style: none;
						margin: 0;
						padding: 0 37px !important;
						li {
							position: relative;
						}
					}
					.icon_clock, .icon_tag, .icon_comments {
						&:before {
							font-family: fontAwesome;
							left: -16px;
							line-height: 10px;
							position: absolute;
							text-align: center;
							top: 0;
						}
					}
					.icon_clock:before {
						content: '\f017';
					}
					.icon_tag:before {
						content: '\f02b';
					}
					.icon_comments:before {
						content: '\f075';
					}
				}
			}
		}
	}
}

.iasd-alphabetical {
	margin: 3px 0 20px 0;
	ul {
		border-top: 1px solid $border-base;
		letter-spacing: -0.05em;
		line-height: 38px;
		list-style: none;
		padding: 0;
		text-align: center;
		text-transform: uppercase;
		li {
			display: inline-block;
			width: 3.21%;
			&:first-child {
				width: 8%;
			}
			&.active {
				border-top: 1px solid $border-base;
			}
			& + li {

			}
		}
	}
}

.entry-content {
	.iasd-blogs-last-posts {
		hr {
			margin: 3px 0 0 0;
		}
		ul {
			padding: 0 !important;
			margin: 0 0 28px 0;
			li {
				display: inline-block;
				list-style: none !important;
				margin-left: 17px;
				position: relative;
				& + li {
					a {
						font-weight: normal;
					}
				}
				&.icon_tag {
					margin: 0 21px 0 38px;
				}
				&>ul {
					margin: 0 !important;
					li {
						margin: 0 !important;
					}
				}
			}
		}
		.iasd-main-title {
			margin-bottom: 0 !important;
		}
		.img-circle {
			img {
				margin: 0;
			}
		}
		.row {
			margin-top: 34px;
		}
	}
}

.iasd-blogs-last-posts {
	p {
		display: inline-block;
		font-size: 18px;
		margin: 0;
	}
	.col-sm-2 {
		.img-circle {
			overflow: hidden;
			width: 80px;
		}
	}
	h1 {
		display: block;
		overflow: hidden;
	}
	h1, p {
		a {
			color: #3a3a3a;
			&:hover {
				border: 0;
			}
		}
	}
	.icon_clock, .icon_tag, .icon_comments {
		&:before {
			color: $alt-text-color;
			font-family: fontAwesome;
			left: -16px;
			line-height: 20px;
			position: absolute;
			text-align: center;
			top: 0;
		}
	}
	.icon_clock:before {
		content: '\f017';
	}
	.icon_tag:before {
		content: '\f02b';
	}
	.icon_comments:before {
		content: '\f075';
	}
	.iasd-blogs-font {
		font-weight: 400;
	}
}

@media (max-width: $screen-sm-max) {
	.entry-content {
		.iasd-blogs-last-posts {
			ul {
				margin-top: 12px;
				li {
					display: block;
					margin-left: 17px;
					& + li {
						margin-left: 17px;
					}
					&.icon_tag {
						margin-left: 17px;
					}
					& > ul {
						li {
							display: inline-block;
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
    .iasd-alphabetical {
    	display: none;
    }
    .iasd-blogs {
    	.iasd-blogs-last-posts {
    		.col-sm-2 {
    			.img-circle {
    				display: none;
    			}
    		}
    	}
    	.iasd-widget-slider {
    		.owl-carousel {
	    		.slider-item {
	    			height: 411px;
	    			figcaption {
	    				position: absolute;
	    				top: 301px !important;
	    				.img-circle {
	    					display: none;
	    				}
	    			}
	    		}
	    	}
    	}
    }
}