---
layout: template
css: blogs_internal
body_class: iasd-blogs-internal
blogs : true
---		
		<div class="container">
			<section class="row">
				<article class="col-md-12 iasd-author-list">
					<header>
						<h1 class="iasd-main-title">Autores</h1>
					</header>
					<div class="row entry-content">
						<div class="col-sm-3 col-md-2">
							<figure class="img-circle active">
								<div class="img-holder" style="background: url(http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar)">
								<div class="img-gradient"></div>
							</figure>
						</div>
						<div class="col-sm-9 col-md-10">
							<h1>Jairo César Silva dos Anjos</h1>
							<p>O pastor Helder Roger Cavalcanti Silva é nascido em Recife – PE, no dia 09 de julho de 1956. Concluiu o Seminário de Teologia em 1977, no Educandário Nordestino Adventista (antigo ENA), no Pernambuco. Finalizou o mestrado em Teologia no UNASP, campus São Paulo, em 1988. E cursa doutorado em Teologia Pastoral no Centro Universitário Adventista de São Paulo - Campus Engenheiro Coelho (UNASP – C2). Iniciou o ministério como pastor distrital em Prazeres –Pernambuco e em Maceió, Alagoas. (1980-1983). Em 84, atuou como departamental do Ministério Pessoal, Jovens e ADRA na Missão Nordeste, onde ficou até 1986. Depois atuou como presidente na Missão Nordeste (87–88), Associação Bahia (AB) (1989-1995), e União Nordeste Brasileira (UNEB) de 1996 até maio de 2004. Desde junho de 2004 está em Brasília como presidente da União Centro-Oeste Brasileira. É casado com Débora Meira Cavalcanti Silva e tem 3 filhos: Helder, casado com Carolina, Helen, casada com Paulo e Hudson. Tem dois netos.</p>
							<em>Twitter: <a href="#" alt="Título do Link">@jairocesardosanjos</a></em>
							<em>Facebook: <a href="#" alt="Título do Link">/JairoCesardosAnjos</a></em>
							<em>E-mail: <a href="#" alt="Título do Link">jairocesar@adventistas.org.br</a></em>
						</div>
					</div>
					<div class="row entry-content">
						<div class="col-sm-3 col-md-2">
							<figure class="img-circle active">
								<div class="img-holder" style="background: url(http://placehold.it/124x124/eee9e3/3a3a3a/&amp;text=Avatar)">
								<div class="img-gradient"></div>
							</figure>
						</div>
						<div class="col-sm-9 col-md-10">
							<h1>Jairo César Silva dos Anjos</h1>
							<p>O pastor Helder Roger Cavalcanti Silva é nascido em Recife – PE, no dia 09 de julho de 1956. Concluiu o Seminário de Teologia em 1977, no Educandário Nordestino Adventista (antigo ENA), no Pernambuco. Finalizou o mestrado em Teologia no UNASP, campus São Paulo, em 1988. E cursa doutorado em Teologia Pastoral no Centro Universitário Adventista de São Paulo - Campus Engenheiro Coelho (UNASP – C2). Iniciou o ministério como pastor distrital em Prazeres –Pernambuco e em Maceió, Alagoas. (1980-1983). Em 84, atuou como departamental do Ministério Pessoal, Jovens e ADRA na Missão Nordeste, onde ficou até 1986. Depois atuou como presidente na Missão Nordeste (87–88), Associação Bahia (AB) (1989-1995), e União Nordeste Brasileira (UNEB) de 1996 até maio de 2004. Desde junho de 2004 está em Brasília como presidente da União Centro-Oeste Brasileira. É casado com Débora Meira Cavalcanti Silva e tem 3 filhos: Helder, casado com Carolina, Helen, casada com Paulo e Hudson. Tem dois netos.</p>
							<em>Twitter: <a href="#" alt="Título do Link">@jairocesardosanjos</a></em>
							<em>Facebook: <a href="#" alt="Título do Link">/JairoCesardosAnjos</a></em>
							<em>E-mail: <a href="#" alt="Título do Link">jairocesar@adventistas.org.br</a></em>
						</div>
					</div>
				</article>
			</section>
		</div>