---
layout: template
css: division
body_class: iasd-dsa-home iasd-assoc
---
		<div class="container">
			<div class="row">
				<div class="iasd-widget iasd-widget-posts_grid col-md-8">
					{% include widgets/posts_grid_five_posts.html title="Notícias" img1="/samples/templates/departments_home_dsa/img/noticias_01.jpg" img2="/samples/templates/departments_home_dsa/img/noticias_02.jpg" img3="/samples/templates/departments_home_dsa/img/noticias_03.jpg" %}
					<div class="hidden-xs" style="background-image: url('img/oracao-capa.jpg'); background-size: cover; background-position: center center; border-radius: 5px; height: 150px; margin: 20px 0 0 0; width: 100%">
						<a href="#" style="height: 150px;" title="Clique aqui para fazer seu pedido de oração">
							<img style="visibility: hidden" src="img/oracao-capa.jpg" class="img-responsive" alt="Pedido de oração">
						</a>
					</div>
				</div>
				<div class="iasd-widget iasd-widget-posts_list col-md-4">
					{% include widgets/posts_list_youtube_highlight.html title="Últimos Vídeos"  img1="http://img.youtube.com/vi/UPGzKOIJ3Jw/0.jpg" img2="http://img.youtube.com/vi/QqAJQtTaLpE/0.jpg" img3="http://img.youtube.com/vi/GLG21dP9nlw/0.jpg" img4="http://img.youtube.com/vi/h8f9biAjIRQ/0.jpg" %}
				</div>
			</div>
			<div class="row">
				<div class="iasd-widget iasd-widget-posts_box col-md-4">
					{% include widgets/posts_box_ordered_thumbs.html title="Materiais" img1="/samples/templates/departments_home_dsa/img/materiais_01.jpg" img2="/samples/templates/departments_home_dsa/img/materiais_02.jpg" img3="/samples/templates/departments_home_dsa/img/materiais_03.jpg" img4="/samples/templates/departments_home_dsa/img/materiais_04.jpg" img5="/samples/templates/departments_home_dsa/img/materiais_05.jpg" img6="/samples/templates/departments_home_dsa/img/materiais_06.jpg" img7="/samples/templates/departments_home_dsa/img/materiais_07.jpg" img8="/samples/templates/departments_home_dsa/img/materiais_08.jpg" img9="/samples/templates/departments_home_dsa/img/materiais_09.jpg" img10="/samples/templates/departments_home_dsa/img/materiais_10.jpg" %}
				</div>
				<div class="iasd-widget iasd-widget-posts_box iasd-widget-config col-md-4">
					{% include widgets/posts_box_ordered.html title="Sermões" item1="" item2="" item3="" item4="" item5="" item6="" item7="" item8="" item9="" item10="" %}
				</div>
				<div class="iasd-widget iasd-widget-posts_categories iasd-widget-config col-md-4">
					{% include widgets/posts_list_thumbs_categories.html title="Artigos" img1="/samples/templates/departments_home_dsa/img/artigos_01.jpg" img2="/samples/templates/departments_home_dsa/img/artigos_02.jpg" img3="/samples/templates/departments_home_dsa/img/artigos_03.jpg" img4="/samples/templates/departments_home_dsa/img/artigos_04.jpg" img5="/samples/templates/departments_home_dsa/img/artigos_05.jpg" img6="/samples/templates/departments_home_dsa/img/artigos_06.jpg" %}
				</div>
			</div>
			<div class="row">
				<div class="iasd-widget iasd-widget-novo_tempo col-md-4">
					{% include widgets/custom_novo_tempo.html %}
				</div>			
				<div class="iasd-widget iasd-widget-sunset iasd-widget-config col-md-4">
					{% include widgets/slider_sunset.html %}
				</div>
				<div class="iasd-widget iasd-widget-slider col-md-4">
					{% include widgets/slider_services_small.html %}
				</div>	
			</div>
			<div class="row">
				<div class="iasd-widget iasd-widget-find_church col-md-4">
					{% include widgets/custom_find_church.html %}
				</div>					
				<div class="iasd-widget iasd-widget-social_media facebook col-md-4">
					{% include widgets/custom_social_media_facebook.html %}
				</div>
				<div class="iasd-widget iasd-widget-social_media twitter col-md-4">
					{% include widgets/custom_social_media_twitter.html %}
				</div>			
			</div>

		</div> <!-- /container -->