---
layout: template_apps_cover
return_page: true
css: apps
---

<div class="container">
	<div class="row styleguide-widgets-list">
		<div class="iasd-widget iasd-widget-slider col-md-12">
			{% include widgets/apps.html  %}
		</div>
	</div>
</div>
<div class="container">
	<div class="row styleguide-widgets-list">
		<div class="iasd-widget iasd-widget-slider col-md-12">
			{% include widgets/apps.html  %}
		</div>
	</div>
</div>
<div class="container-fluid" style="  background-color: rebeccapurple;">
	<div class="container">
		<div class="row styleguide-widgets-list">
			<div class="iasd-widget iasd-widget-slider col-md-12">
				{% include widgets/apps_highlight.html  %}
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row styleguide-widgets-list">
		<div class="iasd-widget iasd-widget-slider col-md-12">
			{% include widgets/apps.html  %}
		</div>
	</div>
</div>

