---
layout: template
css: afam
---		
		<div class="container">
			<section class="row iasd-archive">
				<article class="col-sm-8">
					<header>
						<h1>Blog</h1>
					</header>
						<div class="iasd-main-highlight">
							<a href="#" title="Clique para ler o artigo completo">
								<figure>
									<img src="http://placehold.it/720x350/eee9e3/3a3a3a/&amp;text=Imagem de Destaque" alt="Título da Imagem">
								</figure>
								<figcaption>
									<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit augue a ante lacinia, semper consequat nisl viverra.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Donec tempor sem a semper dapibus. Aenean luctus dolor at magna feugiat, eu suscipit neque tempus.</p>
								</figcaption>
							</a>
						</div>
					<h1>Últimas Postagens</h1>
					<ul>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis...</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis...</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis...</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Cras id laoreet erat. Interdum et malesuada</h2>
									<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non placerat nibh. Pellentesque consequat ligula et leo aliquet blandit. In semper eros...</p>
								</div>
							</a>
						</li>
						<li>
							<a href="#" title="Clique para ler o artigo completo">
								<figure class="hidden-xs">
									<img src="/static/img/widgets/no_image_140x90.png" alt="Título da imagem">
								</figure>
								<div class="info">
									<time>16 de dezembro de 2013</time>
									<h2>Etiam quis adipiscing arcu, sit amet pellentesque nisl. Integer nec neque suscipit, varius turpis...</h2>
									<p class="hidden-xs">Nulla ullamcorper quis eros id molestie. Sed condimentum turpis sit amet enim ornare, vitae porta ligula fermentum. Aenean sapien quam, tincidunt eget...</p>
								</div>
							</a>
						</li>
					</ul>
					<a href="#" class="btn btn-default btn-block load-more_posts-link" title="Mostrar mais">Mostrar mais</a>
				</article>
				<aside class="col-sm-4 iasd-aside">
					<div class="mar-bot-50">
						<h1 class="iasd-main-title">Sobre</h1>
						<em>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</em>
					</div>
					<h1 class="iasd-main-title">Marcadores:</h1>
					<nav class="main iasd-tags">
						<a href="#" title="Taxonomia">Taxonomia<span class="badge">3</span></a>
						<a href="#" title="Taxonomia">Taxonomia comprida<span class="badge">5</span></a>
						<a href="#" title="Taxonomia">Taxonomia com nome comprido<span class="badge">1</span></a>
						<a href="#" title="Taxonomia">Taxonomia<span class="badge">14</span></a>
						<a href="#" title="Taxonomia">Taxonomia<span class="badge">10</span></a>
						<a href="#" title="Taxonomia">Taxonomia<span class="badge">2</span></a>
						<a href="#" title="Taxonomia">Taxonomia<span class="badge">13</span></a>
						<a href="#" title="Taxonomia">Taxonomia com nome maior que a coluna lorem ipsum dolor sit amet<span class="badge">1</span></a>
					</nav>
					<span class="hidden-xs">
						<div class="iasd-widget iasd-widget-posts_list">
							{% include widgets/posts_list.html title="Nossos Projetos" %}
						</div>
						<div class="iasd-widget iasd-widget-posts_list">
							{% include widgets/posts_list_thumbs_highlight.html title="Downloads" img1="" img2="" img3="" img4="" %}
						</div>
					</span>
				</aside>
			</section>
		</div>
