---
layout: default_styleguide
title: Modelos de capa
---
<div class="jumbotron">
	<h1>Modelos de capa</h1>
	<p>Os modelos de capas apresentados aqui servem como modelos de implementação de capas dos portais da Igreja Adventista, mas podem ser ajustados e reconfigurados para atender necessidades locais.</p>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Lista de capas</h2>
	</div>
</div>
<div class="row box-list">
	<div class="col-md-6 col-sm-6 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Portal institucional da Divisão Sul-Americana</h3>
				<img src="/static/img/sidebars/capa-dsa.jpg" alt="Portal institucional da Divisão Sul-Americana" class="img-thumb">
				<a href="/samples/templates/departments_home_dsa/" class="btn btn-primary btn-default" title="Clique aqui para ver o portal institucional da Divisão Sul-Americana">Ver o modelo de capa</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Portal inst. de Sede Regional - Template DSA</h3>
				<img src="/static/img/sidebars/capa-associations.jpg" alt="Portal institucional de Sede Regional - Template DSA" class="img-thumb">
				<a href="/samples/templates/departments_home_association_v0//" class="btn btn-primary btn-default" title="Clique aqui para ver o portal institucional de Sede Regional - Template DSA">Ver o modelo de capa</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Portal institucional de Sede Regional - V1</h3>
				<img src="/static/img/sidebars/capa-sede-v1.jpg" alt="Portal institucional de Sede Regional" class="img-thumb">
				<a href="/samples/templates/departments_home_association_v1/" class="btn btn-primary btn-default" title="Clique aqui para ver o portal institucional de Sede Regional - V1">Ver o modelo de capa</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Portal institucional de Sede Regional - V2</h3>
				<img src="/static/img/sidebars/capa-sede-v2.jpg" alt="Portal institucional de Sede Regional" class="img-thumb">
				<a href="/samples/templates/departments_home_association_v2/" class="btn btn-primary btn-default" title="Clique aqui para ver o portal institucional de Sede Regional - V2">Ver o modelo de capa</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Portal de notícias ASN</h3>
				<img src="/static/img/sidebars/capa-asn.jpg" alt="Portal de notícias ASN" class="img-thumb">
				<a href="/samples/templates/asn_home/" class="btn btn-primary btn-default" title="Clique aqui para ver o portal de notícias ASN">Ver o modelo de capa</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Departamentos - V1</h3>
				<img src="/static/img/sidebars/capa-departamento-v1.jpg" alt="Departamentos - V1" class="img-thumb">
				<a href="/samples/templates/departments_home_afam/" class="btn btn-primary btn-default" title="Clique aqui para ver a capa para departamentos - V1">Ver o modelo de capa</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Departamentos - V2</h3>
				<img src="/static/img/sidebars/capa-departamento-v2.jpg" alt="Departamentos - V2" class="img-thumb">
				<a href="/samples/templates/departments_home_music/" class="btn btn-primary btn-default" title="Clique aqui para ver a capa para departamentos - V2">Ver o modelo de capa</a>
			</div>
		</div>
	</div>
</div>