---
layout: default_styleguide
title: Widgets
---
<div class="jumbotron">
	<h1>Widgets IASD Bootstrap</h1>
	<p>Os widgets personalizados permitem customizar o conteúdos de capas e sidebars dos portais IASD através de uma instalação prática e simples. Eles estão dividos em <strong class=>Posts</strong>, <strong>Sliders</strong> e <strong>Especiais</strong>.</p>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Posts</h2>
		<p>Os widgets listados nessa categoria mostram listas de posts das diferentes instalações do portal IASD, conforme configuração do administrador. Por sua vez, são subdivididos em <strong>Listas de posts</strong>, <strong>Grids de posts</strong> e <strong>Sliders</strong>:</p>
		<h3>Listas de posts</h3>
		<p>Apresentam os posts em forma de lista.</p>
	</div>
</div>
<div class="row box-list">
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Lista de posts simples</h4>
				<img src="/static/img/widgets/posts_list.jpg" alt="Lista de posts simples" class="img-thumb">
				<a href="/samples/widgets/posts_list" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Lista de posts simples com miniaturas</h4>
				<img src="/static/img/widgets/posts_list_thumbs.jpg" alt="Lista de posts simples com miniaturas" class="img-thumb">
				<a href="/samples/widgets/posts_list_thumbs" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Lista de posts simples +1 post em destaque</h4>
				<img src="/static/img/widgets/posts_list_highlight.jpg" alt="Lista de posts simples +1 post em destaque" class="img-thumb">
				<a href="/samples/widgets/posts_list_highlight" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Lista de posts de vídeos +1 post em destaque</h4>
				<img src="/static/img/widgets/posts_list_thumbs_youtube_highlight.jpg" alt="Lista de posts simples +1 vídeo em destaque" class="img-thumb">
				<a href="/samples/widgets/posts_list_thumbs_youtube_highlight" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Lista de posts simples com miniaturas +1 post em destaque</h4>
				<img src="/static/img/widgets/posts_list_thumbs_highlight.jpg" alt="Lista de posts simples com miniaturas +1 post em destaque" class="img-thumb">
				<a href="/samples/widgets/posts_list_thumbs_highlight" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Lista de posts simples com categoria e miniaturas</h4>
				<img src="/static/img/widgets/posts_list_thumbs_categories.jpg" alt="Lista de posts simples com categoria e miniaturas" class="img-thumb">
				<a href="/samples/widgets/posts_list_thumbs_categories" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Lista de galerias de imagens</h4>
				<img src="/static/img/widgets/gallery_list.jpg" alt="Lista de galerias de imagens" class="img-thumb">
				<a href="/samples/widgets/gallery_list" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Box de lista de posts simples</h4>
				<img src="/static/img/widgets/posts_box.jpg" alt="Box de lista de posts simples" class="img-thumb">
				<a href="/samples/widgets/posts_box" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Box de lista de posts simples com miniaturas</h4>
				<img src="/static/img/widgets/posts_box_thumbs.jpg" alt="Box de lista de posts simples com miniaturas" class="img-thumb">
				<a href="/samples/widgets/posts_box_thumbs" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Box de posts ordenados</h4>
				<img src="/static/img/widgets/posts_box_ordered.jpg" alt="Box de posts ordenados" class="img-thumb">
				<a href="/samples/widgets/posts_box_ordered" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Box de posts ordenados com miniaturas</h4>
				<img src="/static/img/widgets/posts_box_ordered_thumbs.jpg" alt="Box de posts ordenados com miniaturas" class="img-thumb">
				<a href="/samples/widgets/posts_box_ordered_thumbs" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Box de eventos</h4>
				<img src="/static/img/widgets/posts_box_events.jpg" alt="Box de eventos" class="img-thumb">
				<a href="/samples/widgets/posts_box_events" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Botões para destaques</h4>
				<img src="/static/img/widgets/posts_buttons_highlights.jpg" alt="Botões para destaques" class="img-thumb">
				<a href="/samples/widgets/posts_buttons_highlights" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Grids de posts</h3>
		<p>Apresentam os posts em forma de grid.</p>
	</div>
</div>
<div class="row box-list">
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Grid de posts</h4>
				<img src="/static/img/widgets/posts_grid.jpg" alt="Grid de posts" class="img-thumb">
				<a href="/samples/widgets/posts_grid" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Grid de posts (1 post em destaque + 2 posts)</h4>
				<img src="/static/img/widgets/posts_grid_three_posts.jpg" alt="Grid de posts (1 post em destaque + 2 posts)" class="img-thumb">
				<a href="/samples/widgets/posts_grid_three_posts" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Grid de posts (1 post em destaque + 4 posts)</h4>
				<img src="/static/img/widgets/posts_grid_five_posts.jpg" alt="Grid de posts (1 post em destaque + 4 posts)" class="img-thumb">
				<a href="/samples/widgets/posts_grid_five_posts" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Sliders</h3>
		<p>Apresentam uma lista de itens em forma de carrossel.</p>
	</div>
</div>
<div class="row box-list">
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Colunas</h4>
				<img src="/static/img/widgets/slider_columns.jpg" alt="Colunas" class="img-thumb">
				<a href="/samples/widgets/slider_columns" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Carrossel de posts em destaque com título e resumo verticais</h4>
				<img src="/static/img/widgets/slider_highlights_vertical.jpg" alt="Carrossel de posts em destaque com título e resumo verticais" class="img-thumb">
				<a href="/samples/widgets/slider_highlights_vertical" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Carrossel de posts em destaque com título horizontal</h4>
				<img src="/static/img/widgets/slider_highlights_horizontal.jpg" alt="Carrossel de posts em destaque com título horizontal" class="img-thumb">
				<a href="/samples/widgets/slider_highlights_horizontal" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Galeria de imagens</h4>
				<img src="/static/img/widgets/slider_galleries.jpg" alt="Galeria de imagens" class="img-thumb">
				<a href="/samples/widgets/slider_galleries" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Carrossel de publicações</h4>
				<img src="/static/img/widgets/slider_newsstand.jpg" alt="Carrossel de publicações" class="img-thumb">
				<a href="/samples/widgets/slider_newsstand" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-md-12">
		<h2>Especiais</h2>
		<p>Widgets desenvolvido para atender a necessidades específicas da Igreja Adventista.</p>
	</div>
</div>
<div class="row box-list">
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Redes Sociais</h4>
				<img src="/static/img/widgets/custom_social_media.jpg" alt="Redes Sociais" class="img-thumb">
				<a href="/samples/widgets/custom_social_media" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Encontre uma Igreja</h4>
				<img src="/static/img/widgets/custom_find_church.jpg" alt="Encontre uma Igreja" class="img-thumb">
				<a href="/samples/widgets/custom_find_church" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Novo Tempo</h4>
				<img src="/static/img/widgets/custom_novo_tempo.jpg" alt="Novo Tempo" class="img-thumb">
				<a href="/samples/widgets/custom_novo_tempo" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Pôr-do-sol</h4>
				<img src="/static/img/widgets/custom_sunset.jpg" alt="Pôr-do-sol" class="img-thumb">
				<a href="/samples/widgets/custom_sunset" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Serviços</h4>
				<img src="/static/img/widgets/custom_services.jpg" alt="Serviços" class="img-thumb">
				<a href="/samples/widgets/custom_services" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Menu</h4>
				<img src="/static/img/widgets/custom_menu.jpg" alt="Menu" class="img-thumb">
				<a href="/samples/widgets/custom_menu" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Lista de colunistas</h4>
				<img src="/static/img/widgets/posts_list_columnists.jpg" alt="Lista de colunistas" class="img-thumb">
				<a href="/samples/widgets/posts_list_columnists" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Widget de texto</h4>
				<img src="/static/img/widgets/text.jpg" alt="Widget de texto" class="img-thumb">
				<a href="/samples/widgets/custom_text" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Revista Adventista</h4>
				<img src="/static/img/widgets/custom_magazine.jpg" alt="Revista Adventista" class="img-thumb">
				<a href="/samples/widgets/custom_magazine" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Busca</h4>
				<img src="/static/img/widgets/custom_search_box.jpg" alt="Busca" class="img-thumb">
				<a href="/samples/widgets/custom_search_box" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Lista simples</h4>
				<img src="/static/img/widgets/custom_list.jpg" alt="Busca" class="img-thumb">
				<a href="/samples/widgets/custom_list" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Texto simples com título</h4>
				<img src="/static/img/widgets/text_title.jpg" alt="Busca" class="img-thumb">
				<a href="/samples/widgets/custom_text_title" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Widget de Imagens com título</h4>
				<img src="/static/img/widgets/custom_img_title.jpg" alt="Busca" class="img-thumb">
				<a href="/samples/widgets/custom_img_title" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Widget de Imagens</h4>
				<img src="/static/img/widgets/custom_img.jpg" alt="Busca" class="img-thumb">
				<a href="/samples/widgets/custom_img" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Widget Thumbnail View</h4>
				<img src="/static/img/widgets/custom_img.jpg" alt="Busca" class="img-thumb">
				<a href="/samples/widgets/thumbnail_view" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Widget Apps</h4>
				<img src="/static/img/widgets/custom_img.jpg" alt="Busca" class="img-thumb">
				<a href="/samples/widgets/apps" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 list">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Widget Apps Highligh (view)</h4>
				<img src="/static/img/widgets/custom_img.jpg" alt="Busca" class="img-thumb">
				<a href="/samples/widgets/apps_highlight" class="btn btn-primary btn-default" title="Clique aqui para ver a documentação do widget">Ver a documentação do widget</a>
			</div>
		</div>
	</div>
</div>